openapi: 3.0.3
info:
  title: 'DOKUMENTASI API JDIH'
  description: ''
  version: 1.0.0
servers:
  -
    url: 'https://api-jdih.perpusnas.go.id'
paths:
  /list-artikel:
    get:
      summary: ''
      description: ''
      parameters:
        -
          in: query
          name: page
          description: 'Jika dikosongkan, maka default akan menampilkan halaman 1.'
          example: 2
          required: false
          schema:
            type: integer
            description: 'Jika dikosongkan, maka default akan menampilkan halaman 1.'
            example: 2
        -
          in: query
          name: limit
          description: 'Jumlah data yang akan ditampilkan dalam 1 halaman.'
          example: 3
          required: false
          schema:
            type: integer
            description: 'Jumlah data yang akan ditampilkan dalam 1 halaman.'
            example: 3
        -
          in: query
          name: q
          description: 'Pencarian data berdasarkan query yang diinput oleh user.'
          example: 'hukum islam'
          required: false
          schema:
            type: string
            description: 'Pencarian data berdasarkan query yang diinput oleh user.'
            example: 'hukum islam'
        -
          in: query
          name: sort
          description: "Melakukan sort/pengurutan data ascending (asc) atau descending (desc) berdasarkan field yang diinginkan. \nField yang dapat dipakai \"title\", \"creator\", \"type\", \"subject\", \"created_at\"."
          example: 'created_at,desc'
          required: false
          schema:
            type: string
            description: "Melakukan sort/pengurutan data ascending (asc) atau descending (desc) berdasarkan field yang diinginkan. \nField yang dapat dipakai \"title\", \"creator\", \"type\", \"subject\", \"created_at\"."
            example: 'created_at,desc'
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer 123ABC-demoonly'
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  query: 'q=hukum islam'
                  total: 2021
                  page: 2
                  limit: 3
                  data:
                    -
                      id: 48706153-37f0-4164-a328-3c118a117f73
                      title: 'QIYAS VIS A VIS AD DALALAH (MENGUAK PENOLAKAN ABU MUHAMMAD TERHADAP QIYAS SEBAGAI SUMBER HUKUM ISLAM)'
                      creator: 'Mustatho, Mustatho'
                      description: 'In legal Istinbath, Abu Muhammad was known as a scholar who strictly adheres to the outward texts. Therefore, he has been critical of the clergy who give the role of ratio in determining the law. In his view, Islamic law originates from Allah SWT is determined by Allah clearly in the texts of the Qur''an and Sunnah, and is practiced by consensus by Muslims. The third source of law in Islam is Ijma''. Ijma itself has to rely on the texts because there is no Ijma'' without relying on the texts. So Abu Muhammad stipulates that the three sources of law above are the mains references in carrying out legal Istinbath. He rejected qiyas as the fourth source of law was the opinion of the scholars’ majority. To examine this issue, this research is literary with the substance of character research. The research method used is the content analysis method, namely analyzing the thoughts of Abu Muhammad in various existing writings. The results of the research show that to respond the various contemporary problems that arise, for which answers cannot be found explicitly in the texts, both in the Qur''an, Sunnah, and Ijma'', Abu Muhammad has the method was also the fourth source of law after Ijma''. The source of law used by Abu Muhammad is known as ad Dalil. However, in further development, the concept of ad Dalil from Ibn Hazm was considered by other Ulama as a source of law or a way of Istinbath law was no different from the qiyas used by previous scholars.'
                      type: 'info:eu-repo/semantics/article'
                      subject: Qiyas
                      created_at: '2023-12-05'
                    -
                      id: c049bc91-a697-43d8-94a4-9fed1e0b1162
                      title: 'Hukum Adat dalam Hukum Pidana Indonesia'
                      creator: 'Ashar W, Dio'
                      description: "ABSTRAKHukum adat diartikan sebagai kekayaan yang dimiliki oleh bangsa Indonesia dan berkembang dalam masyarakat. Namun keberadaan hukum adat seringkali dipertanyakan sejauh mana hukum tersebut dapat diterapkan. Dalam beberapa perkara hukum pidana di Indonesia, beberapa daerah masih menggunakan sistem hukum adat sebagai alternatif pengambilan keputusan karena peranannya dalam penegakan hukum yang cukup dominan. Penelitian ini bertujuan untuk mengidentifikasi keberadaan hukum adat sebagai modernisasi hukum pidana di Indonesia. Penelitian ini menggunakan metode deskriptif analitik dengan pendekatan yuridis normatif dan empiris. Data yang digunakan adalah data sekunder dan data primer. Hasil penelitian menunjukkan bahwa hukum adat dapat dijadikan landasan hukum untuk mengembangkan hukum pidana baru yang dapat diterima masyarakat. Hukum pidana adat Indonesia yang terbagi dalam beberapa satuan hukum adat melambangkan kebudayaan asli bangsa Indonesia yang dulunya diatur oleh hukum Islam. Hukum adat sangat relevan sebagai bahan pertimbangan reformasi hukum pidana Indonesia, khususnya dalam penyusunan Kitab Undang-undang Hukum Pidana (KUHP).Keywords: Hukum Adat, Tindak Pidana, Hukum Pidana.\_\_ABSTRACTCustomary law is defined as wealth owned by the Indonesian people and developed in society. However, the existence of customary law is often questioned to what extent this law can be applied. In several criminal law cases in Indonesia, several regions still use the customary law system as an alternative for decision making because of its dominant role in law enforcement. This research aims to identify the existence of customary law as a modernization of criminal law in Indonesia. This research uses a descriptive analytical method with a normative and empirical juridical approach. The data used is secondary data and primary data. The research results show that customary law can be used as a legal basis for developing new criminal laws that can be accepted by society. Indonesian customary criminal law, which is divided into several customary law units, symbolizes the original culture of the Indonesian nation which was previously regulated by Islamic law. Customary law is very relevant as a consideration for Indonesian criminal law reform, especially in the preparation of the Criminal Code (KUHP).Keywords: Customary Law, Criminal Offenses, Criminal Law."
                      type: 'info:eu-repo/semantics/article'
                      subject: ''
                      created_at: '2023-12-25'
                    -
                      id: ee22e3a9-de82-41c4-9769-bda601a982ee
                      title: 'PENEGAKAN HUKUM HAM DITINJAU DARI PERSPEKTIF HUKUM MAQASHID SYARIAH'
                      creator: 'Sofian, Muhamad'
                      description: "Abstrak\nHukum Islam dengan maqashid syariah dapat dijadikan suatu pemikiran hukum dalam penegakan hukum HAM. Mengingat hukum Islam adalah hukum yang tidak bersandar pada teks Undang-Undang semata melainkan dapat bersumber pada nilai-nilai keislaman yang bersandar pada Al-Quran dan Hadist serta Ijtihad para ulama. Penelitian ini bertujuan untuk mengkaji dan mengetahui penegakan hukum Hak Asasi Manusia kemudian ditinjau dari perspektif Maqashid Syariah. Jenis Penelitian yang di gunakan adalah penelitian hukum normative dengan pendekatan kepustakaan atau library Research dan Perundang-undangan. Adapun hasil penelitian bahwa Indonesia memberikan perlindungan HAM kepada warga negaranya yang kesemuanya termuat dalam Konstitusi Indonesia yaitu UUD 1945 hasil amandemen keempat pada tahun 2002. Upaya penegakan Hukum HAM dan perlindungan HAM Di indonesia juga diatur pada regulasi seperti UU Nomor UU HAM di Indonesia adalah UU No. 39 Tahun 1999 tentang Hak Asasi Manusia dan beberapa lainnya. Selain melalui regulasi juga dibentuk lembaga pengadilan HAM sebagai bentuk keseriusan pemerintah indonesia dalam upaya penegakan hukum HAM dan Perlindungan terhadap HAM. HAM dan maqashid syari'ah pada dasarnya adalah menjaga kemaslahatan seseorang. Maqashid memberikan alternatif solusi untuk menjaga hak-hak manusia.\n\_\nAbstract\nIslamic law with maqashid syariah can be used as a legal thought in enforcing human rights law. Considering that Islamic law is not only based on legal texts but also on Islamic values that are based on the Quran, Hadith, and the Ijtihad of scholars. This study aims to examine and understand the enforcement of human rights law from the perspective of Maqashid Syariah. The type of research used is normative legal research with a literature or library research approach and legislation. The results of the study show that Indonesia provides protection for its citizens' human rights, all of which are contained in the Indonesian Constitution, namely the 1945 Constitution as amended in 2002. Efforts to enforce human rights law and protect human rights in Indonesia are also regulated by laws such as Law No. 39 of 1999 on Human Rights and several others. In addition to regulations, a human rights court was also established as a form of the Indonesian government's seriousness in efforts to enforce human rights law and protect human rights. Human rights and maqashid syari'ah are basically about maintaining the well-being of individuals. Maqashid provides alternative solutions for protecting human rights."
                      type: 'info:eu-repo/semantics/article'
                      subject: 'Law Enforcement'
                      created_at: '2023-09-05'
                properties:
                  query:
                    type: string
                    example: 'q=hukum islam'
                  total:
                    type: integer
                    example: 2021
                  page:
                    type: integer
                    example: 2
                  limit:
                    type: integer
                    example: 3
                  data:
                    type: array
                    example:
                      -
                        id: 48706153-37f0-4164-a328-3c118a117f73
                        title: 'QIYAS VIS A VIS AD DALALAH (MENGUAK PENOLAKAN ABU MUHAMMAD TERHADAP QIYAS SEBAGAI SUMBER HUKUM ISLAM)'
                        creator: 'Mustatho, Mustatho'
                        description: 'In legal Istinbath, Abu Muhammad was known as a scholar who strictly adheres to the outward texts. Therefore, he has been critical of the clergy who give the role of ratio in determining the law. In his view, Islamic law originates from Allah SWT is determined by Allah clearly in the texts of the Qur''an and Sunnah, and is practiced by consensus by Muslims. The third source of law in Islam is Ijma''. Ijma itself has to rely on the texts because there is no Ijma'' without relying on the texts. So Abu Muhammad stipulates that the three sources of law above are the mains references in carrying out legal Istinbath. He rejected qiyas as the fourth source of law was the opinion of the scholars’ majority. To examine this issue, this research is literary with the substance of character research. The research method used is the content analysis method, namely analyzing the thoughts of Abu Muhammad in various existing writings. The results of the research show that to respond the various contemporary problems that arise, for which answers cannot be found explicitly in the texts, both in the Qur''an, Sunnah, and Ijma'', Abu Muhammad has the method was also the fourth source of law after Ijma''. The source of law used by Abu Muhammad is known as ad Dalil. However, in further development, the concept of ad Dalil from Ibn Hazm was considered by other Ulama as a source of law or a way of Istinbath law was no different from the qiyas used by previous scholars.'
                        type: 'info:eu-repo/semantics/article'
                        subject: Qiyas
                        created_at: '2023-12-05'
                      -
                        id: c049bc91-a697-43d8-94a4-9fed1e0b1162
                        title: 'Hukum Adat dalam Hukum Pidana Indonesia'
                        creator: 'Ashar W, Dio'
                        description: "ABSTRAKHukum adat diartikan sebagai kekayaan yang dimiliki oleh bangsa Indonesia dan berkembang dalam masyarakat. Namun keberadaan hukum adat seringkali dipertanyakan sejauh mana hukum tersebut dapat diterapkan. Dalam beberapa perkara hukum pidana di Indonesia, beberapa daerah masih menggunakan sistem hukum adat sebagai alternatif pengambilan keputusan karena peranannya dalam penegakan hukum yang cukup dominan. Penelitian ini bertujuan untuk mengidentifikasi keberadaan hukum adat sebagai modernisasi hukum pidana di Indonesia. Penelitian ini menggunakan metode deskriptif analitik dengan pendekatan yuridis normatif dan empiris. Data yang digunakan adalah data sekunder dan data primer. Hasil penelitian menunjukkan bahwa hukum adat dapat dijadikan landasan hukum untuk mengembangkan hukum pidana baru yang dapat diterima masyarakat. Hukum pidana adat Indonesia yang terbagi dalam beberapa satuan hukum adat melambangkan kebudayaan asli bangsa Indonesia yang dulunya diatur oleh hukum Islam. Hukum adat sangat relevan sebagai bahan pertimbangan reformasi hukum pidana Indonesia, khususnya dalam penyusunan Kitab Undang-undang Hukum Pidana (KUHP).Keywords: Hukum Adat, Tindak Pidana, Hukum Pidana.\_\_ABSTRACTCustomary law is defined as wealth owned by the Indonesian people and developed in society. However, the existence of customary law is often questioned to what extent this law can be applied. In several criminal law cases in Indonesia, several regions still use the customary law system as an alternative for decision making because of its dominant role in law enforcement. This research aims to identify the existence of customary law as a modernization of criminal law in Indonesia. This research uses a descriptive analytical method with a normative and empirical juridical approach. The data used is secondary data and primary data. The research results show that customary law can be used as a legal basis for developing new criminal laws that can be accepted by society. Indonesian customary criminal law, which is divided into several customary law units, symbolizes the original culture of the Indonesian nation which was previously regulated by Islamic law. Customary law is very relevant as a consideration for Indonesian criminal law reform, especially in the preparation of the Criminal Code (KUHP).Keywords: Customary Law, Criminal Offenses, Criminal Law."
                        type: 'info:eu-repo/semantics/article'
                        subject: ''
                        created_at: '2023-12-25'
                      -
                        id: ee22e3a9-de82-41c4-9769-bda601a982ee
                        title: 'PENEGAKAN HUKUM HAM DITINJAU DARI PERSPEKTIF HUKUM MAQASHID SYARIAH'
                        creator: 'Sofian, Muhamad'
                        description: "Abstrak\nHukum Islam dengan maqashid syariah dapat dijadikan suatu pemikiran hukum dalam penegakan hukum HAM. Mengingat hukum Islam adalah hukum yang tidak bersandar pada teks Undang-Undang semata melainkan dapat bersumber pada nilai-nilai keislaman yang bersandar pada Al-Quran dan Hadist serta Ijtihad para ulama. Penelitian ini bertujuan untuk mengkaji dan mengetahui penegakan hukum Hak Asasi Manusia kemudian ditinjau dari perspektif Maqashid Syariah. Jenis Penelitian yang di gunakan adalah penelitian hukum normative dengan pendekatan kepustakaan atau library Research dan Perundang-undangan. Adapun hasil penelitian bahwa Indonesia memberikan perlindungan HAM kepada warga negaranya yang kesemuanya termuat dalam Konstitusi Indonesia yaitu UUD 1945 hasil amandemen keempat pada tahun 2002. Upaya penegakan Hukum HAM dan perlindungan HAM Di indonesia juga diatur pada regulasi seperti UU Nomor UU HAM di Indonesia adalah UU No. 39 Tahun 1999 tentang Hak Asasi Manusia dan beberapa lainnya. Selain melalui regulasi juga dibentuk lembaga pengadilan HAM sebagai bentuk keseriusan pemerintah indonesia dalam upaya penegakan hukum HAM dan Perlindungan terhadap HAM. HAM dan maqashid syari'ah pada dasarnya adalah menjaga kemaslahatan seseorang. Maqashid memberikan alternatif solusi untuk menjaga hak-hak manusia.\n\_\nAbstract\nIslamic law with maqashid syariah can be used as a legal thought in enforcing human rights law. Considering that Islamic law is not only based on legal texts but also on Islamic values that are based on the Quran, Hadith, and the Ijtihad of scholars. This study aims to examine and understand the enforcement of human rights law from the perspective of Maqashid Syariah. The type of research used is normative legal research with a literature or library research approach and legislation. The results of the study show that Indonesia provides protection for its citizens' human rights, all of which are contained in the Indonesian Constitution, namely the 1945 Constitution as amended in 2002. Efforts to enforce human rights law and protect human rights in Indonesia are also regulated by laws such as Law No. 39 of 1999 on Human Rights and several others. In addition to regulations, a human rights court was also established as a form of the Indonesian government's seriousness in efforts to enforce human rights law and protect human rights. Human rights and maqashid syari'ah are basically about maintaining the well-being of individuals. Maqashid provides alternative solutions for protecting human rights."
                        type: 'info:eu-repo/semantics/article'
                        subject: 'Law Enforcement'
                        created_at: '2023-09-05'
                    items:
                      type: object
      tags:
        - 'Artikel Hukum'
      security: []
  '/artikel/{id_artikel}/detail':
    get:
      summary: ''
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer 123ABC-demoonly'
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  id: fdaea816-d08e-44e7-9323-0098c4b2f3fe
                  title: 'REFORMASI BIROKRASI BADAN NARKOTIKA NASIONAL DALAM PEMBERANTASAN TINDAK PIDANA NARKOTIKA'
                  creator: 'Cahyaningtyas, Irma'
                  publisher: 'Law Science Doctorate Program, Diponegoro University'
                  description: 'Peredaran narkotika di Indonesia semakin meningkat sehingga diperlukan kinerja aparat penegak hukum yang profesional. Badan Narkotika Nasional merupakan penyidik pada tindak pidana Narkotika. Permasalahan pada arikel ini adalah pertama, bagaimanakah proses penyidikan tindak pidana narkotika guna menentukan kualifikasi pengedar atau pemakai yang dilakukan oleh penyidik Badan Narkotika Nasional? Kedua, bagaimanakah reformasi birokrasi Badan Narkotika Nasional sebagai aparat penegak hukum dalam perkara tindak pidana narkotika?Pendekatan yang digunakan dalam artikel ini adalah pendekatan socio legal serta berlokasi di Badan Narkotika Nasional Provinsi (BNNP) Jawa Tengah.Berdasarkan penelitian dan pembahasan dinyatakan bahwa penyidikan yang dilakukan oleh BNN didasarkan pada kualifikasi pelaku yang di bedakan menjadi 3 (tiga) yaitu pemakai atau pengguna, pengedar dan produsen. Dalam meningkatkan kinerjanya, perlu ada pembaharuan berupa reformasi birokrasi pada tatanan substansi hukum, struktur hukum, dan kuktur hukum. Hal tersebut akan berpengaruh pada proses penegakan hukum tindak pidana narkotika yang cepat dan profesional.'
                  type: 'info:eu-repo/semantics/article'
                  subject: 'Badan Narkotika Nasional; Tindak Pidana Narkotika; Reformasi Birokrasi'
                  year:
                    - 2019
                  source:
                    - 'Jurnal Hukum Progresif; Vol 7, No 2 (2019): Volume: 7/Nomor2/Oktober/2019; 153-170'
                    - 1858-0254
                  jml_view: 38
                  file:
                    - 'https://interoperabilitas.perpusnas.go.id/get_storage/file/eyJpdiI6IkErZjdickd4bWpWMnV4UTNjRlFTUEE9PSIsInZhbHVlIjoiWFZSS2JwT0s0MjlSVEl0c2xJVEZOQT09IiwibWFjIjoiZGNjM2JjZTlhYmE1MDFkYjZiNDM5MmZlODA5MjVlMDhmNmMwN2VkNDAwMTRiZmNiYTYxYWQwNjc5YmRlNDc0NSIsInRhZyI6IiJ9'
                  created_at: '2019-10-31'
                properties:
                  id:
                    type: string
                    example: fdaea816-d08e-44e7-9323-0098c4b2f3fe
                  title:
                    type: string
                    example: 'REFORMASI BIROKRASI BADAN NARKOTIKA NASIONAL DALAM PEMBERANTASAN TINDAK PIDANA NARKOTIKA'
                  creator:
                    type: string
                    example: 'Cahyaningtyas, Irma'
                  publisher:
                    type: string
                    example: 'Law Science Doctorate Program, Diponegoro University'
                  description:
                    type: string
                    example: 'Peredaran narkotika di Indonesia semakin meningkat sehingga diperlukan kinerja aparat penegak hukum yang profesional. Badan Narkotika Nasional merupakan penyidik pada tindak pidana Narkotika. Permasalahan pada arikel ini adalah pertama, bagaimanakah proses penyidikan tindak pidana narkotika guna menentukan kualifikasi pengedar atau pemakai yang dilakukan oleh penyidik Badan Narkotika Nasional? Kedua, bagaimanakah reformasi birokrasi Badan Narkotika Nasional sebagai aparat penegak hukum dalam perkara tindak pidana narkotika?Pendekatan yang digunakan dalam artikel ini adalah pendekatan socio legal serta berlokasi di Badan Narkotika Nasional Provinsi (BNNP) Jawa Tengah.Berdasarkan penelitian dan pembahasan dinyatakan bahwa penyidikan yang dilakukan oleh BNN didasarkan pada kualifikasi pelaku yang di bedakan menjadi 3 (tiga) yaitu pemakai atau pengguna, pengedar dan produsen. Dalam meningkatkan kinerjanya, perlu ada pembaharuan berupa reformasi birokrasi pada tatanan substansi hukum, struktur hukum, dan kuktur hukum. Hal tersebut akan berpengaruh pada proses penegakan hukum tindak pidana narkotika yang cepat dan profesional.'
                  type:
                    type: string
                    example: 'info:eu-repo/semantics/article'
                  subject:
                    type: string
                    example: 'Badan Narkotika Nasional; Tindak Pidana Narkotika; Reformasi Birokrasi'
                  year:
                    type: array
                    example:
                      - 2019
                    items:
                      type: integer
                  source:
                    type: array
                    example:
                      - 'Jurnal Hukum Progresif; Vol 7, No 2 (2019): Volume: 7/Nomor2/Oktober/2019; 153-170'
                      - 1858-0254
                    items:
                      type: string
                  jml_view:
                    type: integer
                    example: 38
                  file:
                    type: array
                    example:
                      - 'https://interoperabilitas.perpusnas.go.id/get_storage/file/eyJpdiI6IkErZjdickd4bWpWMnV4UTNjRlFTUEE9PSIsInZhbHVlIjoiWFZSS2JwT0s0MjlSVEl0c2xJVEZOQT09IiwibWFjIjoiZGNjM2JjZTlhYmE1MDFkYjZiNDM5MmZlODA5MjVlMDhmNmMwN2VkNDAwMTRiZmNiYTYxYWQwNjc5YmRlNDc0NSIsInRhZyI6IiJ9'
                    items:
                      type: string
                  created_at:
                    type: string
                    example: '2019-10-31'
      tags:
        - 'Artikel Hukum'
      security: []
    parameters:
      -
        in: path
        name: id_artikel
        description: 'ID dari artikel yang akan dilihat detailnya.'
        example: fdaea816-d08e-44e7-9323-0098c4b2f3fe
        required: true
        schema:
          type: string
  /list-berita:
    get:
      summary: ''
      description: ''
      parameters:
        -
          in: query
          name: page
          description: 'Jika dikosongkan, maka default akan menampilkan halaman 1.'
          example: 1
          required: false
          schema:
            type: integer
            description: 'Jika dikosongkan, maka default akan menampilkan halaman 1.'
            example: 1
        -
          in: query
          name: limit
          description: 'Jumlah data yang akan ditampilkan dalam 1 halaman.'
          example: 5
          required: false
          schema:
            type: integer
            description: 'Jumlah data yang akan ditampilkan dalam 1 halaman.'
            example: 5
        -
          in: query
          name: q
          description: 'Pencarian data berdasarkan query yang diinput oleh user.'
          example: 'karya cetak'
          required: false
          schema:
            type: string
            description: 'Pencarian data berdasarkan query yang diinput oleh user.'
            example: 'karya cetak'
        -
          in: query
          name: sort
          description: "Melakukan sort/pengurutan data ascending (asc) atau descending (desc) berdasarkan field yang diinginkan. \nField yang dapat dipakai \"judul\", \"deskripsi\", \"tanggal\", \"keywords\"."
          example: 'tanggal,desc'
          required: false
          schema:
            type: string
            description: "Melakukan sort/pengurutan data ascending (asc) atau descending (desc) berdasarkan field yang diinginkan. \nField yang dapat dipakai \"judul\", \"deskripsi\", \"tanggal\", \"keywords\"."
            example: 'tanggal,desc'
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer 123ABC-demoonly'
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  total: 8
                  page: 1
                  limit: 5
                  data:
                    -
                      id_berita: 63
                      judul: 'Kolaborasi Biro Hukum, Organisasi, Kerja Sama, dan Humas dengan Direktorat Deposit dan Pengembangan Koleksi Perpustakaan dalam Rangka Penyusunan Standar Pengelolaan Koleksi Serah Simpan - Jakarta 19 Agustus 2021'
                      deskripsi: "<p class=\"MsoNormal\" style=\"text-align: justify;\"><span style=\"font-size: 8.5pt; line-height: 115%; font-family: 'Verdana','sans-serif'; color: black; background: white;\">Jakarta - Biro HOKH (Hukum, Organisasi, Kerja Sama, dan Humas)&nbsp; berkolaborasi dengan&nbsp;Direktorat Deposit dan Pengembangan Koleksi Perpustakaan dalam Rangka Penyusunan Standar Pengelolaan Koleksi Serah Simpan, Rapat kolaborasi ini dibuka oleh Kepala Biro HOKH&nbsp;</span>Perpusnas Sri Marganingsih, S.H., M.A., dan diikuti oleh 58 peserta, rapat ni juga turut mengundang Direktur Fasilitasi Perancangan Peraturan Daerah dan Pembinaan Perancang Peraturan Perundang-undangan Nuryanti Widyastuti, S.H. M.M, Sp. N. dari Kementerian Hukum dan HAM.</p>\n<p class=\"MsoNormal\" style=\"text-align: justify;\"><span style=\"font-size: 8.5pt; line-height: 115%; font-family: 'Verdana','sans-serif'; color: black; background: white;\">&ldquo;Standar Pengelolaan Koleksi Serah Simpan merupakan standar bagi Perpustakaan<span style=\"mso-spacerun: yes;\">&nbsp; </span>Nasional dan Perpustakaan Provinsi dalam melaksanakan pengelolaan hasil serah<span style=\"mso-spacerun: yes;\">&nbsp; </span>simpan. Standar ini dimaksudkan untuk menunjang seluruh proses Pengelolaan Hasil<span style=\"mso-spacerun: yes;\">&nbsp; </span>Serah Simpan Karya Cetak dan Karya Rekam, baik yang dilaksanakan oleh<span style=\"mso-spacerun: yes;\">&nbsp; </span>Perpustakaan Nasional maupun Perpustakaan Provinsi dalam menjalankan<span style=\"mso-spacerun: yes;\">&nbsp; </span>fungsinya sebagai Perpustakaan Deposit&rdquo; jelas Marganingsih.</span></p>\n<p class=\"MsoNormal\" style=\"text-align: justify;\"><span style=\"font-size: 8.5pt; line-height: 115%; font-family: 'Verdana','sans-serif'; color: black; background: white;\">&ldquo;</span><span lang=\"EN-ID\" style=\"font-size: 8.5pt; line-height: 115%; font-family: 'Verdana','sans-serif'; color: black; background: white; mso-ansi-language: EN-ID;\">Perpustakaan Nasional mengemban amanah pelaksanaan SS KCKR sesuai dengan UU No. 13 Tahun 2018 dan PP No. 55 Tahun 2021. Salah satu poin yang akan dibahas pada hari ini, yaitu mengenai sanksi administratif&rdquo; pungkas Tatat.</span></p>\n<p class=\"MsoNormal\" style=\"text-align: justify;\"><span lang=\"EN-ID\" style=\"font-size: 8.5pt; line-height: 115%; font-family: 'Verdana','sans-serif'; color: black; background: white; mso-ansi-language: EN-ID;\">Sementara itu, </span><span style=\"font-size: 8.5pt; line-height: 115%; font-family: 'Verdana','sans-serif'; color: black; background: white;\">Direktur Fasilitasi Perancangan Peraturan Daerah dan Pembinaan Perancang Peraturan Perundang-undangan, Nuryanti, menyampaikan &ldquo;</span><span lang=\"EN-ID\" style=\"font-size: 8.5pt; line-height: 115%; font-family: 'Verdana','sans-serif'; color: black; background: white; mso-ansi-language: EN-ID;\">Sanksi administratif tetap harus diterapkan walaupun dilakukan secara bertahap, bisa melalui monitoring dan evaluasi terlebih dahulu, sebelum dilakukan tindakan sanksi administratif yang dimaksud, Perlu ada pendekatan yang baik antara Perpusnas, Perpustakaan Provinsi dan Pelaksana Serah untuk menghindari pemberian sanksi berupa pembekuan dan pencabutan izin, misalnya saling bersurat&rdquo;.</span></p>\n<p class=\"MsoNormal\" style=\"text-align: justify;\">Emyati Tangke L, selaku Direktur <span style=\"font-size: 8.5pt; line-height: 115%; font-family: 'Verdana','sans-serif'; color: black; background: white;\">Deposit dan Pengembangan Koleksi Perpustakaan, menjelaskan &ldquo;Capaian penghimpunan KCKR Perpustakaan Nasional tahun 2020 sebanyak <span style=\"mso-bidi-font-weight: bold;\">420.000 eksemplar </span>melebihi target yang ditetapkan oleh lembaga. Hal ini terjadi karena sosialisasi sanksi pemantauan KCKR yg dilakukan oleh Perpusnas yang semakin gencar, dengan kinerja tersebut Perpusnas semakin optimis&rdquo;.</span></p>"
                      keywords: ''
                      tanggal: '2021-08-19 13:17:41'
                      view: 1596
                      file: 'https://jdih.perpusnas.go.id/uploads/sanksi_admin.jpg'
                    -
                      id_berita: 60
                      judul: 'Perpusnas Lakukan Penyuluhan Hukum dan Sosialisasi Jaringan Dokumentasi dan Informasi Hukum (JDIH) - Gorontalo 25 Maret 2021'
                      deskripsi: "<blockquote>\n<p><strong><span style=\"font-family: 'Arial','sans-serif'; color: black;\">Gorontalo&nbsp;&ndash;</span></strong><span style=\"box-sizing: border-box;\">&nbsp;Perpustakaan Nasional (Perpusnas) bekerja sama dengan&nbsp;</span>Dinas Kearsipan dan Perpustakaan Provinsi Gorontalo&nbsp;melakukan penyuluhan hukum dan sosialisasi Jaringan Dokumentasi dan Informasi Hukum (JDIH). Kegiatan yang berlangsung di Hotel Aston Gorontalo, Jl. Manggis No 88, Libuo, Dungingi, Kota Gorontalo, Gorontalo, Kamis (25/3/2021) tersebut dibuka oleh Kepala&nbsp;Dinas Kearsipan dan Perpustakaan Provinsi Gorontalo,&nbsp;<span style=\"font-family: 'Arial','sans-serif'; mso-fareast-font-family: 'Times New Roman'; mso-fareast-theme-font: minor-fareast; color: black;\">H. Sul A. Maito S.Ag, ME</span><span style=\"font-family: 'Arial','sans-serif'; color: black;\">, dan diikuti sebanyak 60 peserta berasal dari berbagai instansi dan pemangku kepentingan di bidang karya cetak dan karya rekam.</span></p>\n<p><span style=\"box-sizing: border-box;\"><span style=\"font-family: 'Arial','sans-serif'; color: black;\">Penyuluhan hukum ini diselenggarakan oleh Biro Hukum, Organisasi, Kerja Sama, dan Hubungan Masyarakat (HOKH) bekerja sama dengan Direktorat Deposit dan Pengembangan Koleksi Perpustakaan. Materi pembahasan yang dibawakan meliputi Undang-Undang Nomor 13 Tahun 2018 tentang Serah Simpan Karya Cetak dan Karya Rekam (UU SSKCKR), sosialisasi&nbsp;<span style=\"box-sizing: border-box;\"><span style=\"font-family: 'Arial','sans-serif';\">e-Deposit</span></span>, penyuluhan hukum materi muatan Peraturan Daerah, dan sosialisasi JDIH Perpusnas.</span></span></p>\n<p><span style=\"box-sizing: border-box;\"><span style=\"font-family: 'Arial','sans-serif'; color: black;\">Maria Sobon Sampe S.Sos, MM&nbsp;selaku Pustakawan Utama mewakili Kepala Perpustakaan Nasional Republik Indonesia, menjelaskan &ldquo;</span><span style=\"font-family: 'Arial','sans-serif'; mso-fareast-font-family: 'Times New Roman'; mso-fareast-theme-font: minor-fareast; color: black;\">Provinsi Gorontalo dalam rentang waktu 2019 sampai dengan 2020 terdapat 26 penerbit aktif yang telah menyerahkan 261 judul dan 523 eksemplar. &nbsp;Sehubungan dengan hal tersebut kami mohon untuk para wajib serah yang belum menyerahkan hasil karyanya ke Perpustaakaan Nasional sebanyak 2 eksemplar dan 1 eksemplar ke Dinas Perpustakaan dan arsip Propinsi untuk segera menyerahkan sebagai hak wajib serah untuk menitipkan karyanya ke Perpustakaan Nasional dan Dinas Perpustakaan dan Arsip Propinsi demi keamanan, keselamatan dan kepatuhan wajib serah&nbsp; terhadap Undang-undang Serah Simpan Karya Cetak Karya Rekam</span><span style=\"font-family: 'Arial','sans-serif'; color: black;\">.&rdquo; jelas Maria.</span></span></p>\n<p><span style=\"box-sizing: border-box;\"><span style=\"font-family: 'Arial','sans-serif'; color: black;\">Sementara itu,&nbsp;Pustakawan Ahli Madya dari Biro HOKH Perpusnas, Budi Kusumawardani, menyampaikan &ldquo;dalam proses penyusunan peraturan daerah tentang penyelenggaraan perpustakaan&nbsp;</span><span style=\"font-family: 'Arial','sans-serif'; mso-fareast-font-family: 'Times New Roman'; mso-fareast-theme-font: minor-fareast; color: black;\">perlu dibuatkan dasar-dasar pengajuan perda tersebut dalam bentuk kajian, untuk memperkuat pengajuannya, hal ini dilakukan untuk meminimalisir benturan dengan kebijakan DPRD Gorontalo</span><span style=\"font-family: 'Arial','sans-serif'; color: black;\">,&rdquo; pungkas Budi.</span></span></p>\n<p><span style=\"box-sizing: border-box;\"><span style=\"font-family: 'Arial','sans-serif';\">&nbsp;</span></span></p>\n<p><span style=\"box-sizing: border-box;\"><span style=\"font-family: 'Arial','sans-serif'; color: black;\">Reporter dan fotografer: Biro HOKH, Perpusnas</span></span></p>\n<p class=\"MsoNormal\"><span style=\"font-size: 12.0pt; line-height: 115%; font-family: 'Arial','sans-serif';\">&nbsp;</span></p>\n</blockquote>"
                      keywords: ''
                      tanggal: '2021-04-05 15:07:47'
                      view: 1965
                      file: 'https://jdih.perpusnas.go.id/uploads/gorontalo.jpg'
                    -
                      id_berita: 59
                      judul: 'Perpusnas Lakukan Penyuluhan Hukum dan Sosialisasi Jaringan Dokumentasi dan Informasi Hukum (JDIH) - Kalimantan Timur 25 Maret 2021'
                      deskripsi: "<p style=\"text-align: justify; background: white; margin: 0cm 0cm 7.5pt 0cm;\"><strong><span lang=\"EN-US\" style=\"font-size: 11.5pt; font-family: 'Arial',sans-serif; color: black; mso-color-alt: windowtext;\">Samarinda, Kalimantan Timur &ndash;</span></strong><span lang=\"EN-US\" style=\"font-size: 11.5pt; font-family: 'Arial',sans-serif; color: black; mso-color-alt: windowtext;\">&nbsp;Perpustakaan Nasional (Perpusnas) bekerja sama dengan Dinas Perpustakaan dan Kearsipan Provinsi Kalimantan Timur melakukan penyuluhan hukum dan sosialisasi Jaringan Dokumentasi dan Informasi Hukum (JDIH). Kegiatan yang berlangsung di Hotel Aston, Jl. Pangeran Hidayatullah, Kota Samarinda, Kalimantan Timur, Kamis (25/3/2021) tersebut dibuka oleh Kepala Dinas Perpustakaan dan Kearsipan Provinsi Kalimantan Timur, Drs. H. Elto, M.Si, dan diikuti sebanyak 60 peserta berasal dari berbagai instansi dan pemangku kepentingan di bidang karya cetak dan karya rekam.</span></p>\n<p style=\"text-align: justify; background: white; margin: 0cm 0cm 7.5pt 0cm;\"><span lang=\"EN-US\" style=\"font-size: 11.5pt; font-family: 'Arial',sans-serif; color: black; mso-color-alt: windowtext;\">Penyuluhan hukum ini diselenggarakan oleh Biro Hukum, Organisasi, Kerja Sama, dan Hubungan Masyarakat (HOKH) bekerja sama dengan Direktorat Deposit dan Pengembangan Koleksi Perpustakaan. Materi pembahasan yang dibawakan meliputi Undang-Undang Nomor 13 Tahun 2018 tentang Serah Simpan Karya Cetak dan Karya Rekam (UU SSKCKR), sosialisasi&nbsp;<em><span style=\"font-family: 'Arial',sans-serif;\">e-Deposit</span></em>, penyuluhan hukum materi muatan Peraturan Daerah, dan sosialisasi JDIH Perpusnas.</span></p>\n<p style=\"text-align: justify; background: white; margin: 0cm 0cm 7.5pt 0cm;\"><span lang=\"EN-US\" style=\"font-size: 11.5pt; font-family: 'Arial',sans-serif; color: black; mso-color-alt: windowtext;\">Dra. Mariana Ginting selaku Pustakawan Utama mewakili Kepala Perpustakaan Nasional Republik Indonesia, menjelaskan &ldquo;Undang-Undang Nomor 13 Tahun 2018 Tentang Serah Simpan Karya Cetak dan Karya Rekam pada bulan Desember tahun 2018 telah disahkan yang merupakan lompatan besar bagi dunia perpustakaan dan penerbitan di Indonesia. Undang-Undang ini merupakan pengganti dari Undang-Undang nomor 4 tahun 1990 tentang Serah Simpan Karya Cetak Karya Rekam yang telah berlaku lebih dari 28 tahun. Undang-Undang Nomor 13 Tahun 2018, isinya lebih lengkap dan komprehensif daripada Undang-Undang sebelumnya khususnya dalam mengakomodir kemajuan teknologi informasi dan komunikasi dan memberi peluang lebih banyak bagi para wajib serah untuk berpartisipasi dalam penghimpunan hasil budaya anak bangsa yang berupa karya cetak dan karya rekam.&rdquo; jelas Mariana.</span></p>\n<p style=\"text-align: justify; background: white; margin: 0cm 0cm 7.5pt 0cm;\"><span lang=\"EN-US\" style=\"font-size: 11.5pt; font-family: 'Arial',sans-serif; color: black; mso-color-alt: windowtext;\">Sementara itu, Penyusun Peraturan Perundang-Undangan Ahli Pertama dari Biro HOKH Perpusnas, Ananto Pratiesno, menyampaikan &ldquo;Masih terdapat kekurangan dalam Perda Nomor 7 Tahun 2015 tersebut, antara lain terkait Undang-Undang Nomor 13 Tahun 2018, sehingga perlu ditambahkan pengaturan kewajiban serah pada Pemda/SKPD dan DPRD. Kemudian perlu ditambahkan pengaturan mekanisme penyerahan KCKR, serta pengaturan mengenai pembinaan dan sanksi pelaksanaan KCKR,&rdquo; pungkas Ananto.</span></p>\n<p style=\"text-align: justify; background: white; margin: 0cm 0cm 7.5pt 0cm;\"><span lang=\"EN-US\" style=\"font-size: 11.5pt; font-family: 'Arial',sans-serif;\">&nbsp;</span></p>\n<p style=\"text-align: justify; background: white; margin: 0cm 0cm 7.5pt 0cm;\"><span lang=\"EN-US\" style=\"font-size: 11.5pt; font-family: 'Arial',sans-serif; color: black; mso-color-alt: windowtext;\">Reporter dan fotografer: Biro HOKH, Perpusnas</span></p>"
                      keywords: ''
                      tanggal: '2021-03-26 13:51:47'
                      view: 3297
                      file: 'https://jdih.perpusnas.go.id/uploads/WhatsApp_Image_2021-04-05_at_13.37_.53_.jpg'
                    -
                      id_berita: 58
                      judul: 'Perpusnas Lakukan Penyuluhan Hukum dan Sosialisasi Jaringan Dokumentasi dan Informasi Hukum (JDIH) - Aceh 18 Maret 2021'
                      deskripsi: "<p style=\"text-align: justify; background: white; margin: 0cm 0cm 7.5pt 0cm;\"><strong><span lang=\"EN-US\" style=\"font-size: 11.5pt; font-family: 'Arial',sans-serif; color: #3e4d5c;\">Banda Aceh, Aceh &ndash;</span></strong><span lang=\"EN-US\" style=\"font-size: 11.5pt; font-family: 'Arial',sans-serif; color: #3e4d5c;\">&nbsp;Perpustakaan Nasional (Perpusnas) bekerja sama dengan Dinas Perpustakaan dan Kearsipan Prov. Aceh melakukan penyuluhan hukum dan sosialisasi Jaringan Dokumentasi dan Informasi Hukum (JDIH). Kegiatan yang berlangsung di Hotel Kyriad, Jl. Teuku Moh. Daud Beureueh No.5, Laksana, Kec. Kuta Alam, Kota Banda Aceh, Kamis (18/3/2021) tersebut dibuka oleh Kepala Dinas Perpustakaan Dan Kearsipan Prov. Aceh, Edi Yandra, dan diikuti sebanyak 60 peserta berasal dari berbagai instansi dan pemangku kepentingan di bidang karya cetak dan karya rekam.</span></p>\n<p style=\"text-align: justify; background: white; margin: 0cm 0cm 7.5pt 0cm;\"><span lang=\"EN-US\" style=\"font-size: 11.5pt; font-family: 'Arial',sans-serif; color: #3e4d5c;\">Penyuluhan hukum ini diselenggarakan oleh Biro Hukum, Organisasi, Kerja Sama, dan Hubungan Masyarakat (HOKH) bekerja sama dengan Direktorat Deposit dan Pengembangan Koleksi Perpustakaan. Materi pembahasan yang dibawakan meliputi Undang-Undang Nomor 13 Tahun 2018 tentang Serah Simpan Karya Cetak dan Karya Rekam (UU SSKCKR), sosialisasi&nbsp;<em><span style=\"font-family: 'Arial',sans-serif;\">e-Deposit</span></em>, penyuluhan hukum materi muatan Peraturan Daerah, dan sosialisasi JDIH Perpusnas.</span></p>\n<p style=\"text-align: justify; background: white; margin: 0cm 0cm 7.5pt 0cm;\"><span lang=\"EN-US\" style=\"font-size: 11.5pt; font-family: 'Arial',sans-serif; color: black; mso-color-alt: windowtext;\">Deputi&nbsp;Bidang Pengembangan dan Jasa Informasi Perpusnas diwakili oleh Pustakawan Utama Perpustakaan Nasional Subeti Makdriani, menjelaskan Dengan disahkannya Undang-Undang Nomor 13 Tahun 2018 Tentang Serah Simpan Karya Cetak dan Karya Rekam pada bulan Desember tahun 2018 telah disahkan yang merupakan lompatan besar bagi dunia perpustakaan dan penerbitan di Indonesia Undang-Undang ini merupakan pengganti dari Undang-Undang nomor 4 tahun 1990 tentang Serah Simpan Karya Cetak Karya Rekam yang masa berlakunya lebih dari 28 tahun,&rdquo; jelas Subeti.</span></p>\n<p style=\"text-align: justify; background: white; margin: 0cm 0cm 7.5pt 0cm;\"><span lang=\"EN-US\" style=\"font-size: 11.5pt; font-family: 'Arial',sans-serif; color: black; mso-color-alt: windowtext;\">Sementara itu, Penyusun Peraturan Perundang-Undangan Ahli Pertama dari Biro HOKH Perpusnas, Ardiansyah Al Ghani, menyampaikan Suatu pemerintahan daerah baik provinsi maupun kabupaten/kota idealnya mencakup seluruh urusan yang diatur dalam lampiran huruf W Undang-Undang No 23 Tahun 2014. Jika ada substansi yang terlewat, bisa dilakukan revisi atau penyusunan peraturan yang terpisah dari peraturan intinya,&rdquo; pungkas Ardi.</span></p>\n<p style=\"text-align: justify; background: white; margin: 0cm 0cm 7.5pt 0cm;\"><span lang=\"EN-US\" style=\"font-size: 11.5pt; font-family: 'Arial',sans-serif; color: #3e4d5c;\">&nbsp;</span></p>\n<p style=\"text-align: justify; background: white; margin: 0cm 0cm 7.5pt 0cm;\"><span lang=\"EN-US\" style=\"font-size: 11.5pt; font-family: 'Arial',sans-serif; color: #3e4d5c;\">Reporter dan fotografer: Biro HOKH, Perpusnas</span></p>"
                      keywords: ''
                      tanggal: '2021-03-26 13:48:10'
                      view: 1611
                      file: 'https://jdih.perpusnas.go.id/uploads/aceh.jpg'
                    -
                      id_berita: 57
                      judul: 'Perpusnas Lakukan Penyuluhan Hukum dan Sosialisasi Jaringan Dokumentasi dan Informasi Hukum (JDIH) - Sulawesi Tenggara 5 Maret 2021'
                      deskripsi: "<p style=\"text-align: justify; background: white; margin: 0cm 0cm 7.5pt 0cm;\"><strong><span style=\"font-size: 11.5pt; font-family: 'Arial','sans-serif'; color: #3e4d5c;\">Kendari, Sulawesi Tenggara &ndash;</span></strong><span style=\"font-size: 11.5pt; font-family: 'Arial','sans-serif'; color: #3e4d5c;\">&nbsp;Perpustakaan Nasional (Perpusnas) bekerja sama dengan Dinas Perpustakaan Dan Kearsipan Prov. Sultra melakukan penyuluhan hukum dan sosialisasi Jaringan Dokumentasi dan Informasi Hukum (JDIH). Kegiatan yang berlangsung di Hotel Claro, Jl. Edi Sabara Lahundape, Kota Kendari, Sulawesi Tenggara, Jum&rsquo;at (5/3/2021) tersebut dibuka oleh Kepala Dinas Perpustakaan Dan Kearsipan Prov. Sultra, </span><span lang=\"EN-ID\" style=\"font-size: 11.5pt; font-family: 'Arial','sans-serif'; color: #3e4d5c; mso-ansi-language: EN-ID;\">Nur Saleh</span><span style=\"font-size: 11.5pt; font-family: 'Arial','sans-serif'; color: #3e4d5c;\">, dan diikuti sebanyak 60 peserta berasal dari berbagai instansi dan pemangku kepentingan di bidang karya cetak dan karya rekam.</span></p>\n<p style=\"text-align: justify; background: white; margin: 0cm 0cm 7.5pt 0cm;\"><span style=\"font-size: 11.5pt; font-family: 'Arial','sans-serif'; color: #3e4d5c;\">Penyuluhan hukum ini diselenggarakan oleh Biro Hukum, Organisasi, Kerja Sama, dan Hubungan Masyarakat (HOKH) bekerja sama dengan Direktorat Deposit dan Pengembangan Koleksi Perpustakaan. Materi pembahasan yang dibawakan meliputi Undang-Undang Nomor 13 Tahun 2018 tentang Serah Simpan Karya Cetak dan Karya Rekam (UU SSKCKR), sosialisasi&nbsp;<em><span style=\"font-family: 'Arial','sans-serif';\">e-Deposit</span></em>, penyuluhan hukum materi muatan Peraturan Daerah, dan sosialisasi JDIH Perpusnas.</span></p>\n<p style=\"text-align: justify; background: white; margin: 0cm 0cm 7.5pt 0cm;\"><span style=\"font-size: 11.5pt; font-family: 'Arial','sans-serif';\">Deputi&nbsp;Bidang Pengembangan dan Jasa Informasi Perpusnas diwakili oleh </span><span lang=\"EN-ID\" style=\"font-size: 11.5pt; font-family: 'Arial','sans-serif'; mso-ansi-language: EN-ID;\">Direktur Deposit dan Pengembangan Koleksi Perpustakaan</span><span style=\"font-size: 11.5pt; font-family: 'Arial','sans-serif';\">, </span><span lang=\"EN-ID\" style=\"font-size: 11.5pt; font-family: 'Arial','sans-serif'; mso-ansi-language: EN-ID;\">Emyati Tangke Lembang</span><span style=\"font-size: 11.5pt; font-family: 'Arial','sans-serif';\">, menjelaskan </span><span lang=\"EN-ID\" style=\"font-size: 11.5pt; font-family: 'Arial','sans-serif'; mso-ansi-language: EN-ID;\">kami Perpusnas juga melakukan akuisisi (pembelian) memang tidak diatur dalam UU SSKCKR, kebijakan yang dilakukan adalah 1 judul 4 eksemplar, buku yang diakusisi adalah buku langka, lokal konten, naskah kuno, contohnya di Kendari lokal konten yang diterbitkan penerbit setempat seperti ekonomi, budaya, pariwisata dan lingkungan hidup. Kita akan membangun buku tersebut dengan kesesuaian pada destinasi yang kita pilih untuk pemberian bantuan buku, penerbit di daerah jangan berkecil hati sepanjang penerbt dapat berkoordinasi dengan baik dan karyanya juga bagus maka kita pasti akan membeli. Setiap tahun Perpusnas melakukan hunting naskah kuno dan akan kami beli</span><span style=\"font-size: 11.5pt; font-family: 'Arial','sans-serif';\">,&rdquo; jelas Emyati.</span></p>\n<p style=\"text-align: justify; background: white; margin: 0cm 0cm 7.5pt 0cm;\"><span style=\"font-size: 11.5pt; font-family: 'Arial','sans-serif';\">Sementara itu, Subkoordinator Penyusunan Peraturan Perundang-Undangan dari Biro HOKH Perpusnas, Ananto Pratiesno, menyampaikan terdapat 2 jenis sumber data hukum yaitu konvensional dan TIK, untuk mencari dokumen hukum bidang peprustakaan dapat diakses pada web jdih.perpusnas.go.id. Kemudian mengenai meteri muatan materi muatan Peraturan Daerah (Perda) dan memberikan beberapa masukan terhadap Perda Provinsi Sulawesi Tenggara Nomor 11 Tahun 2016 tentang Pengelolaan Perpustakaan. Ada beberapa hal yang perlu ditambahkan dalam Perda tersebut, antara lain perlunya penyesuaian kembali mekanisme penyerahan karya cetak dan karya rekam berdasarkan UU SSKCKR, penambahan pengaturan mengenai pembinaan dan sanksi pelaksanaan SSKCKR, dan perluasan peran serta masyarakat. &ldquo;Tujuan utama dari pengelolaan situs web jdih.perpusnas.go.id. adalah agar dapat memberikan manfaat bagi seluruh pihak dan kalangan dalam memperoleh informasi serta dokumen hukum bidang perpustakaan,&rdquo; pungkas Ananto.</span></p>\n<p style=\"text-align: justify; background: white; margin: 0cm 0cm 7.5pt 0cm;\"><span style=\"font-size: 11.5pt; font-family: 'Arial','sans-serif'; color: #3e4d5c;\">Dalam kegiatan tersebut, juga diperkenalkan&nbsp;<em><span style=\"font-family: 'Arial','sans-serif';\">e-Deposit</span></em>&nbsp;yang merupakan aplikasi penghimpunan, pengolahan, dan pendayagunaan daya karya cetak dan karya rekam.</span></p>\n<p style=\"text-align: justify; background: white; margin: 0cm 0cm 7.5pt 0cm;\"><span style=\"font-size: 11.5pt; font-family: 'Arial','sans-serif'; color: #3e4d5c;\">&nbsp;</span></p>\n<p style=\"text-align: justify; background: white; margin: 0cm 0cm 7.5pt 0cm;\"><span style=\"font-size: 11.5pt; font-family: 'Arial','sans-serif'; color: #3e4d5c;\">Reporter dan fotografer: Biro HOKH, Perpusnas</span></p>\n<p class=\"MsoNormal\">&nbsp;</p>"
                      keywords: ''
                      tanggal: '2021-03-08 08:13:20'
                      view: 1366
                      file: 'https://jdih.perpusnas.go.id/uploads/WhatsApp_Image_2021-03-10_at_10.21_.11_.jpg'
                properties:
                  total:
                    type: integer
                    example: 8
                  page:
                    type: integer
                    example: 1
                  limit:
                    type: integer
                    example: 5
                  data:
                    type: array
                    example:
                      -
                        id_berita: 63
                        judul: 'Kolaborasi Biro Hukum, Organisasi, Kerja Sama, dan Humas dengan Direktorat Deposit dan Pengembangan Koleksi Perpustakaan dalam Rangka Penyusunan Standar Pengelolaan Koleksi Serah Simpan - Jakarta 19 Agustus 2021'
                        deskripsi: "<p class=\"MsoNormal\" style=\"text-align: justify;\"><span style=\"font-size: 8.5pt; line-height: 115%; font-family: 'Verdana','sans-serif'; color: black; background: white;\">Jakarta - Biro HOKH (Hukum, Organisasi, Kerja Sama, dan Humas)&nbsp; berkolaborasi dengan&nbsp;Direktorat Deposit dan Pengembangan Koleksi Perpustakaan dalam Rangka Penyusunan Standar Pengelolaan Koleksi Serah Simpan, Rapat kolaborasi ini dibuka oleh Kepala Biro HOKH&nbsp;</span>Perpusnas Sri Marganingsih, S.H., M.A., dan diikuti oleh 58 peserta, rapat ni juga turut mengundang Direktur Fasilitasi Perancangan Peraturan Daerah dan Pembinaan Perancang Peraturan Perundang-undangan Nuryanti Widyastuti, S.H. M.M, Sp. N. dari Kementerian Hukum dan HAM.</p>\n<p class=\"MsoNormal\" style=\"text-align: justify;\"><span style=\"font-size: 8.5pt; line-height: 115%; font-family: 'Verdana','sans-serif'; color: black; background: white;\">&ldquo;Standar Pengelolaan Koleksi Serah Simpan merupakan standar bagi Perpustakaan<span style=\"mso-spacerun: yes;\">&nbsp; </span>Nasional dan Perpustakaan Provinsi dalam melaksanakan pengelolaan hasil serah<span style=\"mso-spacerun: yes;\">&nbsp; </span>simpan. Standar ini dimaksudkan untuk menunjang seluruh proses Pengelolaan Hasil<span style=\"mso-spacerun: yes;\">&nbsp; </span>Serah Simpan Karya Cetak dan Karya Rekam, baik yang dilaksanakan oleh<span style=\"mso-spacerun: yes;\">&nbsp; </span>Perpustakaan Nasional maupun Perpustakaan Provinsi dalam menjalankan<span style=\"mso-spacerun: yes;\">&nbsp; </span>fungsinya sebagai Perpustakaan Deposit&rdquo; jelas Marganingsih.</span></p>\n<p class=\"MsoNormal\" style=\"text-align: justify;\"><span style=\"font-size: 8.5pt; line-height: 115%; font-family: 'Verdana','sans-serif'; color: black; background: white;\">&ldquo;</span><span lang=\"EN-ID\" style=\"font-size: 8.5pt; line-height: 115%; font-family: 'Verdana','sans-serif'; color: black; background: white; mso-ansi-language: EN-ID;\">Perpustakaan Nasional mengemban amanah pelaksanaan SS KCKR sesuai dengan UU No. 13 Tahun 2018 dan PP No. 55 Tahun 2021. Salah satu poin yang akan dibahas pada hari ini, yaitu mengenai sanksi administratif&rdquo; pungkas Tatat.</span></p>\n<p class=\"MsoNormal\" style=\"text-align: justify;\"><span lang=\"EN-ID\" style=\"font-size: 8.5pt; line-height: 115%; font-family: 'Verdana','sans-serif'; color: black; background: white; mso-ansi-language: EN-ID;\">Sementara itu, </span><span style=\"font-size: 8.5pt; line-height: 115%; font-family: 'Verdana','sans-serif'; color: black; background: white;\">Direktur Fasilitasi Perancangan Peraturan Daerah dan Pembinaan Perancang Peraturan Perundang-undangan, Nuryanti, menyampaikan &ldquo;</span><span lang=\"EN-ID\" style=\"font-size: 8.5pt; line-height: 115%; font-family: 'Verdana','sans-serif'; color: black; background: white; mso-ansi-language: EN-ID;\">Sanksi administratif tetap harus diterapkan walaupun dilakukan secara bertahap, bisa melalui monitoring dan evaluasi terlebih dahulu, sebelum dilakukan tindakan sanksi administratif yang dimaksud, Perlu ada pendekatan yang baik antara Perpusnas, Perpustakaan Provinsi dan Pelaksana Serah untuk menghindari pemberian sanksi berupa pembekuan dan pencabutan izin, misalnya saling bersurat&rdquo;.</span></p>\n<p class=\"MsoNormal\" style=\"text-align: justify;\">Emyati Tangke L, selaku Direktur <span style=\"font-size: 8.5pt; line-height: 115%; font-family: 'Verdana','sans-serif'; color: black; background: white;\">Deposit dan Pengembangan Koleksi Perpustakaan, menjelaskan &ldquo;Capaian penghimpunan KCKR Perpustakaan Nasional tahun 2020 sebanyak <span style=\"mso-bidi-font-weight: bold;\">420.000 eksemplar </span>melebihi target yang ditetapkan oleh lembaga. Hal ini terjadi karena sosialisasi sanksi pemantauan KCKR yg dilakukan oleh Perpusnas yang semakin gencar, dengan kinerja tersebut Perpusnas semakin optimis&rdquo;.</span></p>"
                        keywords: ''
                        tanggal: '2021-08-19 13:17:41'
                        view: 1596
                        file: 'https://jdih.perpusnas.go.id/uploads/sanksi_admin.jpg'
                      -
                        id_berita: 60
                        judul: 'Perpusnas Lakukan Penyuluhan Hukum dan Sosialisasi Jaringan Dokumentasi dan Informasi Hukum (JDIH) - Gorontalo 25 Maret 2021'
                        deskripsi: "<blockquote>\n<p><strong><span style=\"font-family: 'Arial','sans-serif'; color: black;\">Gorontalo&nbsp;&ndash;</span></strong><span style=\"box-sizing: border-box;\">&nbsp;Perpustakaan Nasional (Perpusnas) bekerja sama dengan&nbsp;</span>Dinas Kearsipan dan Perpustakaan Provinsi Gorontalo&nbsp;melakukan penyuluhan hukum dan sosialisasi Jaringan Dokumentasi dan Informasi Hukum (JDIH). Kegiatan yang berlangsung di Hotel Aston Gorontalo, Jl. Manggis No 88, Libuo, Dungingi, Kota Gorontalo, Gorontalo, Kamis (25/3/2021) tersebut dibuka oleh Kepala&nbsp;Dinas Kearsipan dan Perpustakaan Provinsi Gorontalo,&nbsp;<span style=\"font-family: 'Arial','sans-serif'; mso-fareast-font-family: 'Times New Roman'; mso-fareast-theme-font: minor-fareast; color: black;\">H. Sul A. Maito S.Ag, ME</span><span style=\"font-family: 'Arial','sans-serif'; color: black;\">, dan diikuti sebanyak 60 peserta berasal dari berbagai instansi dan pemangku kepentingan di bidang karya cetak dan karya rekam.</span></p>\n<p><span style=\"box-sizing: border-box;\"><span style=\"font-family: 'Arial','sans-serif'; color: black;\">Penyuluhan hukum ini diselenggarakan oleh Biro Hukum, Organisasi, Kerja Sama, dan Hubungan Masyarakat (HOKH) bekerja sama dengan Direktorat Deposit dan Pengembangan Koleksi Perpustakaan. Materi pembahasan yang dibawakan meliputi Undang-Undang Nomor 13 Tahun 2018 tentang Serah Simpan Karya Cetak dan Karya Rekam (UU SSKCKR), sosialisasi&nbsp;<span style=\"box-sizing: border-box;\"><span style=\"font-family: 'Arial','sans-serif';\">e-Deposit</span></span>, penyuluhan hukum materi muatan Peraturan Daerah, dan sosialisasi JDIH Perpusnas.</span></span></p>\n<p><span style=\"box-sizing: border-box;\"><span style=\"font-family: 'Arial','sans-serif'; color: black;\">Maria Sobon Sampe S.Sos, MM&nbsp;selaku Pustakawan Utama mewakili Kepala Perpustakaan Nasional Republik Indonesia, menjelaskan &ldquo;</span><span style=\"font-family: 'Arial','sans-serif'; mso-fareast-font-family: 'Times New Roman'; mso-fareast-theme-font: minor-fareast; color: black;\">Provinsi Gorontalo dalam rentang waktu 2019 sampai dengan 2020 terdapat 26 penerbit aktif yang telah menyerahkan 261 judul dan 523 eksemplar. &nbsp;Sehubungan dengan hal tersebut kami mohon untuk para wajib serah yang belum menyerahkan hasil karyanya ke Perpustaakaan Nasional sebanyak 2 eksemplar dan 1 eksemplar ke Dinas Perpustakaan dan arsip Propinsi untuk segera menyerahkan sebagai hak wajib serah untuk menitipkan karyanya ke Perpustakaan Nasional dan Dinas Perpustakaan dan Arsip Propinsi demi keamanan, keselamatan dan kepatuhan wajib serah&nbsp; terhadap Undang-undang Serah Simpan Karya Cetak Karya Rekam</span><span style=\"font-family: 'Arial','sans-serif'; color: black;\">.&rdquo; jelas Maria.</span></span></p>\n<p><span style=\"box-sizing: border-box;\"><span style=\"font-family: 'Arial','sans-serif'; color: black;\">Sementara itu,&nbsp;Pustakawan Ahli Madya dari Biro HOKH Perpusnas, Budi Kusumawardani, menyampaikan &ldquo;dalam proses penyusunan peraturan daerah tentang penyelenggaraan perpustakaan&nbsp;</span><span style=\"font-family: 'Arial','sans-serif'; mso-fareast-font-family: 'Times New Roman'; mso-fareast-theme-font: minor-fareast; color: black;\">perlu dibuatkan dasar-dasar pengajuan perda tersebut dalam bentuk kajian, untuk memperkuat pengajuannya, hal ini dilakukan untuk meminimalisir benturan dengan kebijakan DPRD Gorontalo</span><span style=\"font-family: 'Arial','sans-serif'; color: black;\">,&rdquo; pungkas Budi.</span></span></p>\n<p><span style=\"box-sizing: border-box;\"><span style=\"font-family: 'Arial','sans-serif';\">&nbsp;</span></span></p>\n<p><span style=\"box-sizing: border-box;\"><span style=\"font-family: 'Arial','sans-serif'; color: black;\">Reporter dan fotografer: Biro HOKH, Perpusnas</span></span></p>\n<p class=\"MsoNormal\"><span style=\"font-size: 12.0pt; line-height: 115%; font-family: 'Arial','sans-serif';\">&nbsp;</span></p>\n</blockquote>"
                        keywords: ''
                        tanggal: '2021-04-05 15:07:47'
                        view: 1965
                        file: 'https://jdih.perpusnas.go.id/uploads/gorontalo.jpg'
                      -
                        id_berita: 59
                        judul: 'Perpusnas Lakukan Penyuluhan Hukum dan Sosialisasi Jaringan Dokumentasi dan Informasi Hukum (JDIH) - Kalimantan Timur 25 Maret 2021'
                        deskripsi: "<p style=\"text-align: justify; background: white; margin: 0cm 0cm 7.5pt 0cm;\"><strong><span lang=\"EN-US\" style=\"font-size: 11.5pt; font-family: 'Arial',sans-serif; color: black; mso-color-alt: windowtext;\">Samarinda, Kalimantan Timur &ndash;</span></strong><span lang=\"EN-US\" style=\"font-size: 11.5pt; font-family: 'Arial',sans-serif; color: black; mso-color-alt: windowtext;\">&nbsp;Perpustakaan Nasional (Perpusnas) bekerja sama dengan Dinas Perpustakaan dan Kearsipan Provinsi Kalimantan Timur melakukan penyuluhan hukum dan sosialisasi Jaringan Dokumentasi dan Informasi Hukum (JDIH). Kegiatan yang berlangsung di Hotel Aston, Jl. Pangeran Hidayatullah, Kota Samarinda, Kalimantan Timur, Kamis (25/3/2021) tersebut dibuka oleh Kepala Dinas Perpustakaan dan Kearsipan Provinsi Kalimantan Timur, Drs. H. Elto, M.Si, dan diikuti sebanyak 60 peserta berasal dari berbagai instansi dan pemangku kepentingan di bidang karya cetak dan karya rekam.</span></p>\n<p style=\"text-align: justify; background: white; margin: 0cm 0cm 7.5pt 0cm;\"><span lang=\"EN-US\" style=\"font-size: 11.5pt; font-family: 'Arial',sans-serif; color: black; mso-color-alt: windowtext;\">Penyuluhan hukum ini diselenggarakan oleh Biro Hukum, Organisasi, Kerja Sama, dan Hubungan Masyarakat (HOKH) bekerja sama dengan Direktorat Deposit dan Pengembangan Koleksi Perpustakaan. Materi pembahasan yang dibawakan meliputi Undang-Undang Nomor 13 Tahun 2018 tentang Serah Simpan Karya Cetak dan Karya Rekam (UU SSKCKR), sosialisasi&nbsp;<em><span style=\"font-family: 'Arial',sans-serif;\">e-Deposit</span></em>, penyuluhan hukum materi muatan Peraturan Daerah, dan sosialisasi JDIH Perpusnas.</span></p>\n<p style=\"text-align: justify; background: white; margin: 0cm 0cm 7.5pt 0cm;\"><span lang=\"EN-US\" style=\"font-size: 11.5pt; font-family: 'Arial',sans-serif; color: black; mso-color-alt: windowtext;\">Dra. Mariana Ginting selaku Pustakawan Utama mewakili Kepala Perpustakaan Nasional Republik Indonesia, menjelaskan &ldquo;Undang-Undang Nomor 13 Tahun 2018 Tentang Serah Simpan Karya Cetak dan Karya Rekam pada bulan Desember tahun 2018 telah disahkan yang merupakan lompatan besar bagi dunia perpustakaan dan penerbitan di Indonesia. Undang-Undang ini merupakan pengganti dari Undang-Undang nomor 4 tahun 1990 tentang Serah Simpan Karya Cetak Karya Rekam yang telah berlaku lebih dari 28 tahun. Undang-Undang Nomor 13 Tahun 2018, isinya lebih lengkap dan komprehensif daripada Undang-Undang sebelumnya khususnya dalam mengakomodir kemajuan teknologi informasi dan komunikasi dan memberi peluang lebih banyak bagi para wajib serah untuk berpartisipasi dalam penghimpunan hasil budaya anak bangsa yang berupa karya cetak dan karya rekam.&rdquo; jelas Mariana.</span></p>\n<p style=\"text-align: justify; background: white; margin: 0cm 0cm 7.5pt 0cm;\"><span lang=\"EN-US\" style=\"font-size: 11.5pt; font-family: 'Arial',sans-serif; color: black; mso-color-alt: windowtext;\">Sementara itu, Penyusun Peraturan Perundang-Undangan Ahli Pertama dari Biro HOKH Perpusnas, Ananto Pratiesno, menyampaikan &ldquo;Masih terdapat kekurangan dalam Perda Nomor 7 Tahun 2015 tersebut, antara lain terkait Undang-Undang Nomor 13 Tahun 2018, sehingga perlu ditambahkan pengaturan kewajiban serah pada Pemda/SKPD dan DPRD. Kemudian perlu ditambahkan pengaturan mekanisme penyerahan KCKR, serta pengaturan mengenai pembinaan dan sanksi pelaksanaan KCKR,&rdquo; pungkas Ananto.</span></p>\n<p style=\"text-align: justify; background: white; margin: 0cm 0cm 7.5pt 0cm;\"><span lang=\"EN-US\" style=\"font-size: 11.5pt; font-family: 'Arial',sans-serif;\">&nbsp;</span></p>\n<p style=\"text-align: justify; background: white; margin: 0cm 0cm 7.5pt 0cm;\"><span lang=\"EN-US\" style=\"font-size: 11.5pt; font-family: 'Arial',sans-serif; color: black; mso-color-alt: windowtext;\">Reporter dan fotografer: Biro HOKH, Perpusnas</span></p>"
                        keywords: ''
                        tanggal: '2021-03-26 13:51:47'
                        view: 3297
                        file: 'https://jdih.perpusnas.go.id/uploads/WhatsApp_Image_2021-04-05_at_13.37_.53_.jpg'
                      -
                        id_berita: 58
                        judul: 'Perpusnas Lakukan Penyuluhan Hukum dan Sosialisasi Jaringan Dokumentasi dan Informasi Hukum (JDIH) - Aceh 18 Maret 2021'
                        deskripsi: "<p style=\"text-align: justify; background: white; margin: 0cm 0cm 7.5pt 0cm;\"><strong><span lang=\"EN-US\" style=\"font-size: 11.5pt; font-family: 'Arial',sans-serif; color: #3e4d5c;\">Banda Aceh, Aceh &ndash;</span></strong><span lang=\"EN-US\" style=\"font-size: 11.5pt; font-family: 'Arial',sans-serif; color: #3e4d5c;\">&nbsp;Perpustakaan Nasional (Perpusnas) bekerja sama dengan Dinas Perpustakaan dan Kearsipan Prov. Aceh melakukan penyuluhan hukum dan sosialisasi Jaringan Dokumentasi dan Informasi Hukum (JDIH). Kegiatan yang berlangsung di Hotel Kyriad, Jl. Teuku Moh. Daud Beureueh No.5, Laksana, Kec. Kuta Alam, Kota Banda Aceh, Kamis (18/3/2021) tersebut dibuka oleh Kepala Dinas Perpustakaan Dan Kearsipan Prov. Aceh, Edi Yandra, dan diikuti sebanyak 60 peserta berasal dari berbagai instansi dan pemangku kepentingan di bidang karya cetak dan karya rekam.</span></p>\n<p style=\"text-align: justify; background: white; margin: 0cm 0cm 7.5pt 0cm;\"><span lang=\"EN-US\" style=\"font-size: 11.5pt; font-family: 'Arial',sans-serif; color: #3e4d5c;\">Penyuluhan hukum ini diselenggarakan oleh Biro Hukum, Organisasi, Kerja Sama, dan Hubungan Masyarakat (HOKH) bekerja sama dengan Direktorat Deposit dan Pengembangan Koleksi Perpustakaan. Materi pembahasan yang dibawakan meliputi Undang-Undang Nomor 13 Tahun 2018 tentang Serah Simpan Karya Cetak dan Karya Rekam (UU SSKCKR), sosialisasi&nbsp;<em><span style=\"font-family: 'Arial',sans-serif;\">e-Deposit</span></em>, penyuluhan hukum materi muatan Peraturan Daerah, dan sosialisasi JDIH Perpusnas.</span></p>\n<p style=\"text-align: justify; background: white; margin: 0cm 0cm 7.5pt 0cm;\"><span lang=\"EN-US\" style=\"font-size: 11.5pt; font-family: 'Arial',sans-serif; color: black; mso-color-alt: windowtext;\">Deputi&nbsp;Bidang Pengembangan dan Jasa Informasi Perpusnas diwakili oleh Pustakawan Utama Perpustakaan Nasional Subeti Makdriani, menjelaskan Dengan disahkannya Undang-Undang Nomor 13 Tahun 2018 Tentang Serah Simpan Karya Cetak dan Karya Rekam pada bulan Desember tahun 2018 telah disahkan yang merupakan lompatan besar bagi dunia perpustakaan dan penerbitan di Indonesia Undang-Undang ini merupakan pengganti dari Undang-Undang nomor 4 tahun 1990 tentang Serah Simpan Karya Cetak Karya Rekam yang masa berlakunya lebih dari 28 tahun,&rdquo; jelas Subeti.</span></p>\n<p style=\"text-align: justify; background: white; margin: 0cm 0cm 7.5pt 0cm;\"><span lang=\"EN-US\" style=\"font-size: 11.5pt; font-family: 'Arial',sans-serif; color: black; mso-color-alt: windowtext;\">Sementara itu, Penyusun Peraturan Perundang-Undangan Ahli Pertama dari Biro HOKH Perpusnas, Ardiansyah Al Ghani, menyampaikan Suatu pemerintahan daerah baik provinsi maupun kabupaten/kota idealnya mencakup seluruh urusan yang diatur dalam lampiran huruf W Undang-Undang No 23 Tahun 2014. Jika ada substansi yang terlewat, bisa dilakukan revisi atau penyusunan peraturan yang terpisah dari peraturan intinya,&rdquo; pungkas Ardi.</span></p>\n<p style=\"text-align: justify; background: white; margin: 0cm 0cm 7.5pt 0cm;\"><span lang=\"EN-US\" style=\"font-size: 11.5pt; font-family: 'Arial',sans-serif; color: #3e4d5c;\">&nbsp;</span></p>\n<p style=\"text-align: justify; background: white; margin: 0cm 0cm 7.5pt 0cm;\"><span lang=\"EN-US\" style=\"font-size: 11.5pt; font-family: 'Arial',sans-serif; color: #3e4d5c;\">Reporter dan fotografer: Biro HOKH, Perpusnas</span></p>"
                        keywords: ''
                        tanggal: '2021-03-26 13:48:10'
                        view: 1611
                        file: 'https://jdih.perpusnas.go.id/uploads/aceh.jpg'
                      -
                        id_berita: 57
                        judul: 'Perpusnas Lakukan Penyuluhan Hukum dan Sosialisasi Jaringan Dokumentasi dan Informasi Hukum (JDIH) - Sulawesi Tenggara 5 Maret 2021'
                        deskripsi: "<p style=\"text-align: justify; background: white; margin: 0cm 0cm 7.5pt 0cm;\"><strong><span style=\"font-size: 11.5pt; font-family: 'Arial','sans-serif'; color: #3e4d5c;\">Kendari, Sulawesi Tenggara &ndash;</span></strong><span style=\"font-size: 11.5pt; font-family: 'Arial','sans-serif'; color: #3e4d5c;\">&nbsp;Perpustakaan Nasional (Perpusnas) bekerja sama dengan Dinas Perpustakaan Dan Kearsipan Prov. Sultra melakukan penyuluhan hukum dan sosialisasi Jaringan Dokumentasi dan Informasi Hukum (JDIH). Kegiatan yang berlangsung di Hotel Claro, Jl. Edi Sabara Lahundape, Kota Kendari, Sulawesi Tenggara, Jum&rsquo;at (5/3/2021) tersebut dibuka oleh Kepala Dinas Perpustakaan Dan Kearsipan Prov. Sultra, </span><span lang=\"EN-ID\" style=\"font-size: 11.5pt; font-family: 'Arial','sans-serif'; color: #3e4d5c; mso-ansi-language: EN-ID;\">Nur Saleh</span><span style=\"font-size: 11.5pt; font-family: 'Arial','sans-serif'; color: #3e4d5c;\">, dan diikuti sebanyak 60 peserta berasal dari berbagai instansi dan pemangku kepentingan di bidang karya cetak dan karya rekam.</span></p>\n<p style=\"text-align: justify; background: white; margin: 0cm 0cm 7.5pt 0cm;\"><span style=\"font-size: 11.5pt; font-family: 'Arial','sans-serif'; color: #3e4d5c;\">Penyuluhan hukum ini diselenggarakan oleh Biro Hukum, Organisasi, Kerja Sama, dan Hubungan Masyarakat (HOKH) bekerja sama dengan Direktorat Deposit dan Pengembangan Koleksi Perpustakaan. Materi pembahasan yang dibawakan meliputi Undang-Undang Nomor 13 Tahun 2018 tentang Serah Simpan Karya Cetak dan Karya Rekam (UU SSKCKR), sosialisasi&nbsp;<em><span style=\"font-family: 'Arial','sans-serif';\">e-Deposit</span></em>, penyuluhan hukum materi muatan Peraturan Daerah, dan sosialisasi JDIH Perpusnas.</span></p>\n<p style=\"text-align: justify; background: white; margin: 0cm 0cm 7.5pt 0cm;\"><span style=\"font-size: 11.5pt; font-family: 'Arial','sans-serif';\">Deputi&nbsp;Bidang Pengembangan dan Jasa Informasi Perpusnas diwakili oleh </span><span lang=\"EN-ID\" style=\"font-size: 11.5pt; font-family: 'Arial','sans-serif'; mso-ansi-language: EN-ID;\">Direktur Deposit dan Pengembangan Koleksi Perpustakaan</span><span style=\"font-size: 11.5pt; font-family: 'Arial','sans-serif';\">, </span><span lang=\"EN-ID\" style=\"font-size: 11.5pt; font-family: 'Arial','sans-serif'; mso-ansi-language: EN-ID;\">Emyati Tangke Lembang</span><span style=\"font-size: 11.5pt; font-family: 'Arial','sans-serif';\">, menjelaskan </span><span lang=\"EN-ID\" style=\"font-size: 11.5pt; font-family: 'Arial','sans-serif'; mso-ansi-language: EN-ID;\">kami Perpusnas juga melakukan akuisisi (pembelian) memang tidak diatur dalam UU SSKCKR, kebijakan yang dilakukan adalah 1 judul 4 eksemplar, buku yang diakusisi adalah buku langka, lokal konten, naskah kuno, contohnya di Kendari lokal konten yang diterbitkan penerbit setempat seperti ekonomi, budaya, pariwisata dan lingkungan hidup. Kita akan membangun buku tersebut dengan kesesuaian pada destinasi yang kita pilih untuk pemberian bantuan buku, penerbit di daerah jangan berkecil hati sepanjang penerbt dapat berkoordinasi dengan baik dan karyanya juga bagus maka kita pasti akan membeli. Setiap tahun Perpusnas melakukan hunting naskah kuno dan akan kami beli</span><span style=\"font-size: 11.5pt; font-family: 'Arial','sans-serif';\">,&rdquo; jelas Emyati.</span></p>\n<p style=\"text-align: justify; background: white; margin: 0cm 0cm 7.5pt 0cm;\"><span style=\"font-size: 11.5pt; font-family: 'Arial','sans-serif';\">Sementara itu, Subkoordinator Penyusunan Peraturan Perundang-Undangan dari Biro HOKH Perpusnas, Ananto Pratiesno, menyampaikan terdapat 2 jenis sumber data hukum yaitu konvensional dan TIK, untuk mencari dokumen hukum bidang peprustakaan dapat diakses pada web jdih.perpusnas.go.id. Kemudian mengenai meteri muatan materi muatan Peraturan Daerah (Perda) dan memberikan beberapa masukan terhadap Perda Provinsi Sulawesi Tenggara Nomor 11 Tahun 2016 tentang Pengelolaan Perpustakaan. Ada beberapa hal yang perlu ditambahkan dalam Perda tersebut, antara lain perlunya penyesuaian kembali mekanisme penyerahan karya cetak dan karya rekam berdasarkan UU SSKCKR, penambahan pengaturan mengenai pembinaan dan sanksi pelaksanaan SSKCKR, dan perluasan peran serta masyarakat. &ldquo;Tujuan utama dari pengelolaan situs web jdih.perpusnas.go.id. adalah agar dapat memberikan manfaat bagi seluruh pihak dan kalangan dalam memperoleh informasi serta dokumen hukum bidang perpustakaan,&rdquo; pungkas Ananto.</span></p>\n<p style=\"text-align: justify; background: white; margin: 0cm 0cm 7.5pt 0cm;\"><span style=\"font-size: 11.5pt; font-family: 'Arial','sans-serif'; color: #3e4d5c;\">Dalam kegiatan tersebut, juga diperkenalkan&nbsp;<em><span style=\"font-family: 'Arial','sans-serif';\">e-Deposit</span></em>&nbsp;yang merupakan aplikasi penghimpunan, pengolahan, dan pendayagunaan daya karya cetak dan karya rekam.</span></p>\n<p style=\"text-align: justify; background: white; margin: 0cm 0cm 7.5pt 0cm;\"><span style=\"font-size: 11.5pt; font-family: 'Arial','sans-serif'; color: #3e4d5c;\">&nbsp;</span></p>\n<p style=\"text-align: justify; background: white; margin: 0cm 0cm 7.5pt 0cm;\"><span style=\"font-size: 11.5pt; font-family: 'Arial','sans-serif'; color: #3e4d5c;\">Reporter dan fotografer: Biro HOKH, Perpusnas</span></p>\n<p class=\"MsoNormal\">&nbsp;</p>"
                        keywords: ''
                        tanggal: '2021-03-08 08:13:20'
                        view: 1366
                        file: 'https://jdih.perpusnas.go.id/uploads/WhatsApp_Image_2021-03-10_at_10.21_.11_.jpg'
                    items:
                      type: object
      tags:
        - Berita
      security: []
  '/berita/{id}/detail':
    get:
      summary: ''
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer 123ABC-demoonly'
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  id_berita: 77
                  judul: 'Penyuluhan Hukum dan Sosialisasi JDIH Perpusnas Kabupaten Kulon Progo Provinsi Daerah Istimewa Yogyakarta- 9 Mei 2023'
                  deskripsi: '<p>Tim Pelaksana Sosialisasi dari Perpustakaan Nasional RI telah melaksanakan penyuluhan hukum dan sosialisasi JDIH Perpusnas pada Kabupaten Kulon Progo Provinsi Daerah Istimewa Yogyakarta pada tanggal&nbsp;9 Mei 2023</p>'
                  keywords: ''
                  tanggal: '2023-05-09 14:48:00'
                  view: 772
                  file: 'https://jdih.perpusnas.go.id/uploads/WhatsApp_Image_2023-05-17_at_15.02_.19_.jpg'
                properties:
                  id_berita:
                    type: integer
                    example: 77
                  judul:
                    type: string
                    example: 'Penyuluhan Hukum dan Sosialisasi JDIH Perpusnas Kabupaten Kulon Progo Provinsi Daerah Istimewa Yogyakarta- 9 Mei 2023'
                  deskripsi:
                    type: string
                    example: '<p>Tim Pelaksana Sosialisasi dari Perpustakaan Nasional RI telah melaksanakan penyuluhan hukum dan sosialisasi JDIH Perpusnas pada Kabupaten Kulon Progo Provinsi Daerah Istimewa Yogyakarta pada tanggal&nbsp;9 Mei 2023</p>'
                  keywords:
                    type: string
                    example: ''
                  tanggal:
                    type: string
                    example: '2023-05-09 14:48:00'
                  view:
                    type: integer
                    example: 772
                  file:
                    type: string
                    example: 'https://jdih.perpusnas.go.id/uploads/WhatsApp_Image_2023-05-17_at_15.02_.19_.jpg'
      tags:
        - Berita
      security: []
    parameters:
      -
        in: path
        name: id
        description: 'ID dari berita yang akan dilihat detailnya.'
        example: 77
        required: true
        schema:
          type: integer
  /list-galeri:
    get:
      summary: ''
      description: ''
      parameters:
        -
          in: query
          name: page
          description: 'Jika dikosongkan, maka default akan menampilkan halaman 1.'
          example: 1
          required: false
          schema:
            type: integer
            description: 'Jika dikosongkan, maka default akan menampilkan halaman 1.'
            example: 1
        -
          in: query
          name: limit
          description: 'Jumlah data yang akan ditampilkan dalam 1 halaman.'
          example: 3
          required: false
          schema:
            type: integer
            description: 'Jumlah data yang akan ditampilkan dalam 1 halaman.'
            example: 3
        -
          in: query
          name: q
          description: 'Pencarian berdasarkan query yang diinput oleh user.'
          example: rapat
          required: false
          schema:
            type: string
            description: 'Pencarian berdasarkan query yang diinput oleh user.'
            example: rapat
        -
          in: query
          name: sort
          description: 'Melakukan sort/pengurutan data ascending (asc) atau descending (desc) berdasarkan field yang diinginkan. Field yang dapat dipakai "judul", "tanggal".'
          example: 'tanggal,desc'
          required: false
          schema:
            type: string
            description: 'Melakukan sort/pengurutan data ascending (asc) atau descending (desc) berdasarkan field yang diinginkan. Field yang dapat dipakai "judul", "tanggal".'
            example: 'tanggal,desc'
        -
          in: query
          name: type
          description: 'Bisa diisi dengan "gambar" atau "video"'
          example: gambar
          required: false
          schema:
            type: string
            description: 'Bisa diisi dengan "gambar" atau "video"'
            example: gambar
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer 123ABC-demoonly'
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  total: 35
                  page: 1
                  limit: 3
                  data:
                    -
                      id_artikel: 212
                      judul: 'Rapat Pembahasan Penyusunan Daftar Inventarisir Masalah Undang-Undang Nomor 43 Tahun 2007 tentang Perpustakaan - 30 Agustus 2023'
                      tanggal: '2023-09-12 10:15:18'
                      tag: ''
                      type: gambar
                      gambar:
                        -
                          id_konten: 212
                          id_gambar: 436
                          image: 'https://jdih.perpusnas.go.id/files/media/17b8dd80ba9e8fc713bf74c1414e432b.jpeg'
                          imagethumb: 'https://jdih.perpusnas.go.id/files/media/thumb_17b8dd80ba9e8fc713bf74c1414e432b.jpeg'
                        -
                          id_konten: 212
                          id_gambar: 437
                          image: 'https://jdih.perpusnas.go.id/files/media/aa53a2e1e12ba7095caf36527fb8e47a.jpeg'
                          imagethumb: 'https://jdih.perpusnas.go.id/files/media/thumb_aa53a2e1e12ba7095caf36527fb8e47a.jpeg'
                        -
                          id_konten: 212
                          id_gambar: 438
                          image: 'https://jdih.perpusnas.go.id/files/media/1231dcaffd24a4655141e9c07a4a0f62.jpeg'
                          imagethumb: 'https://jdih.perpusnas.go.id/files/media/thumb_1231dcaffd24a4655141e9c07a4a0f62.jpeg'
                        -
                          id_konten: 212
                          id_gambar: 439
                          image: 'https://jdih.perpusnas.go.id/files/media/a749bc030cbbe8b3c8ce1b816a3dfee0.jpeg'
                          imagethumb: 'https://jdih.perpusnas.go.id/files/media/thumb_a749bc030cbbe8b3c8ce1b816a3dfee0.jpeg'
                        -
                          id_konten: 212
                          id_gambar: 440
                          image: 'https://jdih.perpusnas.go.id/files/media/f27fa369e1a308f29a92c3d52776b338.jpeg'
                          imagethumb: 'https://jdih.perpusnas.go.id/files/media/thumb_f27fa369e1a308f29a92c3d52776b338.jpeg'
                    -
                      id_artikel: 211
                      judul: 'Rapat Pembahasan Penyusunan Rancangan Peraturan Presiden tentang Registrasi dan Pelestarian Warisan Dokumenter sebagai Ingatan Dokumenter Nasional - 8 September 2023'
                      tanggal: '2023-09-08 15:04:37'
                      tag: ''
                      type: gambar
                      gambar:
                        -
                          id_konten: 211
                          id_gambar: 433
                          image: 'https://jdih.perpusnas.go.id/files/media/705c3a2610c303f0a15b93e715f7dd1b.jpeg'
                          imagethumb: 'https://jdih.perpusnas.go.id/files/media/thumb_705c3a2610c303f0a15b93e715f7dd1b.jpeg'
                        -
                          id_konten: 211
                          id_gambar: 434
                          image: 'https://jdih.perpusnas.go.id/files/media/ba3bc84a9a3a75de4bf50be3a3cc3e4c.jpeg'
                          imagethumb: 'https://jdih.perpusnas.go.id/files/media/thumb_ba3bc84a9a3a75de4bf50be3a3cc3e4c.jpeg'
                        -
                          id_konten: 211
                          id_gambar: 435
                          image: 'https://jdih.perpusnas.go.id/files/media/613c34479fa8a518def6f239df4d3eb5.jpeg'
                          imagethumb: 'https://jdih.perpusnas.go.id/files/media/thumb_613c34479fa8a518def6f239df4d3eb5.jpeg'
                    -
                      id_artikel: 208
                      judul: 'Rapat Pembahasan Penyusunan Daftar Inventarisir Masalah Undang-Undang Nomor 43 Tahun 2007 tentang Perpustakaan - 15 Agustus 2023'
                      tanggal: '2023-08-16 09:29:34'
                      tag: ''
                      type: gambar
                      gambar:
                        -
                          id_konten: 208
                          id_gambar: 421
                          image: 'https://jdih.perpusnas.go.id/files/media/851ad7309e9dcb17f57b1d0f54af2015.jpg'
                          imagethumb: 'https://jdih.perpusnas.go.id/files/media/thumb_851ad7309e9dcb17f57b1d0f54af2015.jpg'
                        -
                          id_konten: 208
                          id_gambar: 422
                          image: 'https://jdih.perpusnas.go.id/files/media/09a342d92920cd0d97fed084be7f1226.jpg'
                          imagethumb: 'https://jdih.perpusnas.go.id/files/media/thumb_09a342d92920cd0d97fed084be7f1226.jpg'
                        -
                          id_konten: 208
                          id_gambar: 423
                          image: 'https://jdih.perpusnas.go.id/files/media/52496cbf12ec336369871616d9a4abf2.jpg'
                          imagethumb: 'https://jdih.perpusnas.go.id/files/media/thumb_52496cbf12ec336369871616d9a4abf2.jpg'
                properties:
                  total:
                    type: integer
                    example: 35
                  page:
                    type: integer
                    example: 1
                  limit:
                    type: integer
                    example: 3
                  data:
                    type: array
                    example:
                      -
                        id_artikel: 212
                        judul: 'Rapat Pembahasan Penyusunan Daftar Inventarisir Masalah Undang-Undang Nomor 43 Tahun 2007 tentang Perpustakaan - 30 Agustus 2023'
                        tanggal: '2023-09-12 10:15:18'
                        tag: ''
                        type: gambar
                        gambar:
                          -
                            id_konten: 212
                            id_gambar: 436
                            image: 'https://jdih.perpusnas.go.id/files/media/17b8dd80ba9e8fc713bf74c1414e432b.jpeg'
                            imagethumb: 'https://jdih.perpusnas.go.id/files/media/thumb_17b8dd80ba9e8fc713bf74c1414e432b.jpeg'
                          -
                            id_konten: 212
                            id_gambar: 437
                            image: 'https://jdih.perpusnas.go.id/files/media/aa53a2e1e12ba7095caf36527fb8e47a.jpeg'
                            imagethumb: 'https://jdih.perpusnas.go.id/files/media/thumb_aa53a2e1e12ba7095caf36527fb8e47a.jpeg'
                          -
                            id_konten: 212
                            id_gambar: 438
                            image: 'https://jdih.perpusnas.go.id/files/media/1231dcaffd24a4655141e9c07a4a0f62.jpeg'
                            imagethumb: 'https://jdih.perpusnas.go.id/files/media/thumb_1231dcaffd24a4655141e9c07a4a0f62.jpeg'
                          -
                            id_konten: 212
                            id_gambar: 439
                            image: 'https://jdih.perpusnas.go.id/files/media/a749bc030cbbe8b3c8ce1b816a3dfee0.jpeg'
                            imagethumb: 'https://jdih.perpusnas.go.id/files/media/thumb_a749bc030cbbe8b3c8ce1b816a3dfee0.jpeg'
                          -
                            id_konten: 212
                            id_gambar: 440
                            image: 'https://jdih.perpusnas.go.id/files/media/f27fa369e1a308f29a92c3d52776b338.jpeg'
                            imagethumb: 'https://jdih.perpusnas.go.id/files/media/thumb_f27fa369e1a308f29a92c3d52776b338.jpeg'
                      -
                        id_artikel: 211
                        judul: 'Rapat Pembahasan Penyusunan Rancangan Peraturan Presiden tentang Registrasi dan Pelestarian Warisan Dokumenter sebagai Ingatan Dokumenter Nasional - 8 September 2023'
                        tanggal: '2023-09-08 15:04:37'
                        tag: ''
                        type: gambar
                        gambar:
                          -
                            id_konten: 211
                            id_gambar: 433
                            image: 'https://jdih.perpusnas.go.id/files/media/705c3a2610c303f0a15b93e715f7dd1b.jpeg'
                            imagethumb: 'https://jdih.perpusnas.go.id/files/media/thumb_705c3a2610c303f0a15b93e715f7dd1b.jpeg'
                          -
                            id_konten: 211
                            id_gambar: 434
                            image: 'https://jdih.perpusnas.go.id/files/media/ba3bc84a9a3a75de4bf50be3a3cc3e4c.jpeg'
                            imagethumb: 'https://jdih.perpusnas.go.id/files/media/thumb_ba3bc84a9a3a75de4bf50be3a3cc3e4c.jpeg'
                          -
                            id_konten: 211
                            id_gambar: 435
                            image: 'https://jdih.perpusnas.go.id/files/media/613c34479fa8a518def6f239df4d3eb5.jpeg'
                            imagethumb: 'https://jdih.perpusnas.go.id/files/media/thumb_613c34479fa8a518def6f239df4d3eb5.jpeg'
                      -
                        id_artikel: 208
                        judul: 'Rapat Pembahasan Penyusunan Daftar Inventarisir Masalah Undang-Undang Nomor 43 Tahun 2007 tentang Perpustakaan - 15 Agustus 2023'
                        tanggal: '2023-08-16 09:29:34'
                        tag: ''
                        type: gambar
                        gambar:
                          -
                            id_konten: 208
                            id_gambar: 421
                            image: 'https://jdih.perpusnas.go.id/files/media/851ad7309e9dcb17f57b1d0f54af2015.jpg'
                            imagethumb: 'https://jdih.perpusnas.go.id/files/media/thumb_851ad7309e9dcb17f57b1d0f54af2015.jpg'
                          -
                            id_konten: 208
                            id_gambar: 422
                            image: 'https://jdih.perpusnas.go.id/files/media/09a342d92920cd0d97fed084be7f1226.jpg'
                            imagethumb: 'https://jdih.perpusnas.go.id/files/media/thumb_09a342d92920cd0d97fed084be7f1226.jpg'
                          -
                            id_konten: 208
                            id_gambar: 423
                            image: 'https://jdih.perpusnas.go.id/files/media/52496cbf12ec336369871616d9a4abf2.jpg'
                            imagethumb: 'https://jdih.perpusnas.go.id/files/media/thumb_52496cbf12ec336369871616d9a4abf2.jpg'
                    items:
                      type: object
      tags:
        - Galeri
      security: []
  '/galeri/{id}/detail':
    get:
      summary: ''
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer 123ABC-demoonly'
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  id_artikel: 126
                  id_kategori: 701
                  id_admin: 8
                  judul: 'Rapat Harmonisasi Rancangan Peraturan Perpustakaan Nasional tentang Sistem Pendataan Satu Pintu Hasil Serah Simpan Karya Cetak dan Karya Rekam - 1 Juli 2021'
                  subjudul: null
                  deskripsi: null
                  isiartikel: null
                  tanggal: '2021-07-01 11:53:25'
                  fotografer: null
                  reporter: null
                  editor: null
                  pageview: null
                  tag: ''
                  status: 1
                  file_statik: thumb_b6eae54b5931f291449f1ba0b6ffe1fe.jpg
                  headline: null
                  type: gambar
                  gambar:
                    -
                      id_konten: 126
                      id_gambar: 88
                      image: 'https://jdih.perpusnas.go.id/files/media/b6eae54b5931f291449f1ba0b6ffe1fe.jpg'
                      imagethumb: 'https://jdih.perpusnas.go.id/files/media/thumb_b6eae54b5931f291449f1ba0b6ffe1fe.jpg'
                    -
                      id_konten: 126
                      id_gambar: 89
                      image: 'https://jdih.perpusnas.go.id/files/media/4bdfe0d931aaca381b04fc07ed695063.jpg'
                      imagethumb: 'https://jdih.perpusnas.go.id/files/media/thumb_4bdfe0d931aaca381b04fc07ed695063.jpg'
                    -
                      id_konten: 126
                      id_gambar: 90
                      image: 'https://jdih.perpusnas.go.id/files/media/8333f3e9af9a82becb12ddb26e77045f.jpg'
                      imagethumb: 'https://jdih.perpusnas.go.id/files/media/thumb_8333f3e9af9a82becb12ddb26e77045f.jpg'
                properties:
                  id_artikel:
                    type: integer
                    example: 126
                  id_kategori:
                    type: integer
                    example: 701
                  id_admin:
                    type: integer
                    example: 8
                  judul:
                    type: string
                    example: 'Rapat Harmonisasi Rancangan Peraturan Perpustakaan Nasional tentang Sistem Pendataan Satu Pintu Hasil Serah Simpan Karya Cetak dan Karya Rekam - 1 Juli 2021'
                  subjudul:
                    type: string
                    example: null
                  deskripsi:
                    type: string
                    example: null
                  isiartikel:
                    type: string
                    example: null
                  tanggal:
                    type: string
                    example: '2021-07-01 11:53:25'
                  fotografer:
                    type: string
                    example: null
                  reporter:
                    type: string
                    example: null
                  editor:
                    type: string
                    example: null
                  pageview:
                    type: string
                    example: null
                  tag:
                    type: string
                    example: ''
                  status:
                    type: integer
                    example: 1
                  file_statik:
                    type: string
                    example: thumb_b6eae54b5931f291449f1ba0b6ffe1fe.jpg
                  headline:
                    type: string
                    example: null
                  type:
                    type: string
                    example: gambar
                  gambar:
                    type: array
                    example:
                      -
                        id_konten: 126
                        id_gambar: 88
                        image: 'https://jdih.perpusnas.go.id/files/media/b6eae54b5931f291449f1ba0b6ffe1fe.jpg'
                        imagethumb: 'https://jdih.perpusnas.go.id/files/media/thumb_b6eae54b5931f291449f1ba0b6ffe1fe.jpg'
                      -
                        id_konten: 126
                        id_gambar: 89
                        image: 'https://jdih.perpusnas.go.id/files/media/4bdfe0d931aaca381b04fc07ed695063.jpg'
                        imagethumb: 'https://jdih.perpusnas.go.id/files/media/thumb_4bdfe0d931aaca381b04fc07ed695063.jpg'
                      -
                        id_konten: 126
                        id_gambar: 90
                        image: 'https://jdih.perpusnas.go.id/files/media/8333f3e9af9a82becb12ddb26e77045f.jpg'
                        imagethumb: 'https://jdih.perpusnas.go.id/files/media/thumb_8333f3e9af9a82becb12ddb26e77045f.jpg'
                    items:
                      type: object
      tags:
        - Galeri
      security: []
    parameters:
      -
        in: path
        name: id
        description: 'Optional parameter. varchar required ID dari galeri yang akan dilihat detailnya.'
        required: true
        schema:
          type: string
        examples:
          omitted:
            summary: 'When the value is omitted'
            value: ''
          present:
            summary: 'When the value is present'
            value: '126'
  /list-monograf:
    get:
      summary: ''
      description: ''
      parameters:
        -
          in: query
          name: page
          description: 'Jika dikosongkan, maka default akan menampilkan halaman 1.'
          example: 1
          required: false
          schema:
            type: integer
            description: 'Jika dikosongkan, maka default akan menampilkan halaman 1.'
            example: 1
        -
          in: query
          name: limit
          description: 'Jumlah data yang akan ditampilkan dalam 1 halaman.'
          example: 5
          required: false
          schema:
            type: integer
            description: 'Jumlah data yang akan ditampilkan dalam 1 halaman.'
            example: 5
        -
          in: query
          name: q
          description: 'Pencarian berdasarkan query yang diinput oleh user.'
          example: 'karya cetak'
          required: false
          schema:
            type: string
            description: 'Pencarian berdasarkan query yang diinput oleh user.'
            example: 'karya cetak'
        -
          in: query
          name: sort
          description: 'Melakukan sort/pengurutan data ascending (asc) atau descending (desc) berdasarkan field yang diinginkan. Field yang dapat dipakai "date"'
          example: 'date,desc'
          required: false
          schema:
            type: string
            description: 'Melakukan sort/pengurutan data ascending (asc) atau descending (desc) berdasarkan field yang diinginkan. Field yang dapat dipakai "date"'
            example: 'date,desc'
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer 123ABC-demoonly'
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            text/plain:
              schema:
                type: string
[...]
