openapi: 3.0.3
info:
  title: 'DOKUMENTASI API JDIH'
  description: ''
  version: 1.0.0
servers:
  -
    url: 'https://api-jdih.perpusnas.go.id'
paths:
  /list-artikel:
    get:
      summary: ''
      description: ''
      parameters:
        -
          in: query
          name: page
          description: 'Jika dikosongkan, maka default akan menampilkan halaman 1.'
          example: 2
          required: false
          schema:
            type: integer
            description: 'Jika dikosongkan, maka default akan menampilkan halaman 1.'
            example: 2
        -
          in: query
          name: limit
          description: 'Jumlah data yang akan ditampilkan dalam 1 halaman.'
          example: 3
          required: false
          schema:
            type: integer
            description: 'Jumlah data yang akan ditampilkan dalam 1 halaman.'
            example: 3
        -
          in: query
          name: q
          description: 'Pencarian data berdasarkan query yang diinput oleh user.'
          example: 'hukum islam'
          required: false
          schema:
            type: string
            description: 'Pencarian data berdasarkan query yang diinput oleh user.'
            example: 'hukum islam'
        -
          in: query
          name: sort
          description: "Melakukan sort/pengurutan data ascending (asc) atau descending (desc) berdasarkan field yang diinginkan. \nField yang dapat dipakai \"title\", \"creator\", \"type\", \"subject\", \"created_at\"."
          example: 'created_at,desc'
          required: false
          schema:
            type: string
            description: "Melakukan sort/pengurutan data ascending (asc) atau descending (desc) berdasarkan field yang diinginkan. \nField yang dapat dipakai \"title\", \"creator\", \"type\", \"subject\", \"created_at\"."
            example: 'created_at,desc'
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer 123ABC-demoonly'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  query: 'q=hukum islam'
                  total: 2045
                  page: 2
                  limit: 3
                  data:
                    -
                      id: 4fb52125-ba75-4fe9-98e9-76562686b8af
                      title: 'TRADISI MENIKAH PADA HARI RAYA IDUL FITRI DAN IDUL ADHA PERSPEKTIF HUKUM ISLAM'
                      creator: 'Trianingrum, Novi '
                      description: 'In Islam, marriage can take place on any day, because all days of the year are good days, a marriage is valid if it fulfills the pillars and conditions of marriage. However, in practice, marriages that occur in communities that are still steeped in Javanese customs sometimes still have rules other than those in the terms and conditions of marriage according to Islamic law. This research aims to determine the practice of wedding traditions on Eid al-Fitr and Eid al-Adha in Planjan Village, the views of the people of Planjan Village towards these traditional practices, and to find out the perspective of Islamic law regarding this tradition. This research is field research using qualitative research methods. The data criteria obtained are primary and secondary data. Data was obtained through observation, interviews and documentation. The research results show that the practice of getting married on Eid al-Fitr and Eid al-Adha in Planjan Village is a solution for the community to get around all the complexities of calculations in the Javanese primbon. The results of interviews with 6 sources show that many people in Planjan Village still carry out this tradition. There are those who trust it completely, there are also those who just respect the suggestions of their parents. It all comes back to each individual''s beliefs.'
                      type: 'info:eu-repo/semantics/article'
                      subject: Arriage
                      created_at: '2022-06-21'
                    -
                      id: b03c5a8e-2c56-4899-bb1d-890f13744b3b
                      title: 'HUKUM PERNIKAHAN ISTRI YANG DISEBABKAN SUAMI MAFQUD MENURUT PERSPEKTIF HUKUM ISLAM'
                      creator: 'Khomsatun, Ani'
                      description: "Pernikahan Merupakan Sebuah tindakan Sunnatullah yang umum dan berlaku pada semua mahluk-Nya, baik pada manusia, hewan, maupun tumbuhan. Ia adalah sesuatu yang dipilih oleh Allah SWT, sebagai jalan bagi mahluk-Nya untuk berkembangbiak, dan melestarikan hidupnya. Salah satu persyaratan dalam sebuah pernikahan adalah bahwa si istri tidak terikat dalam pernikahan orang lain. Pernikahan yang suaminya Mafqud disini harus menunggu kepastian yang sudah di tetapkan dalam Hukum Islam.\nPenelitian dalam skripsi ini menggunakan jenis penelitian dengan studi literatur, merupakan sebuah penelitian yang persiapanya sama dengan penelitian lainya akan tetapi sumber dan metode pengumpulan data dengan mengambil data di pustaka, membaca, mencatat, dan mengolah bahan penelitian. Penelitian ini termasuk dalam penelitian (library research), yaitu rangkaian kegiatan yang berkenan dengan metode pengumpulan data pustaka bersumber dari beberapa sumber catatan, buku-buku dan lain sebagainya.\nAdapun hasil penelitian ini adalah hukum pernikahan istri yang suaminya mafqud adalah sah, dan ketika si istri menghendaki untuk menikah seharusnya memperhatikan langkah-langkah yang harus di lalui menurut Mazhab syafiâ€™i, didalam Mazhab Syafiâ€™i banyak pendapat-pendapat tentang batasan waktu menunggu ketika suami mafqud, diantaranya menurut Imam Syafiâ€™i yaitu didalam qoul qodimnya 90 tahun , sedangkan menurut qoul jadidnya 4 tahun, selain itu juga ada pandangan menurut Kompilasi Hukum Islam Yaitu 2 tahun."
                      type: 'info:eu-repo/semantics/article'
                      subject: 'Hukum Penikahan'
                      created_at: '2021-06-16'
                    -
                      id: a7475c1e-3d12-443b-bee6-66b1ed839592
                      title: 'STATUS KEWARISAN ANAK ANGKAT PASAL 209 KHI MENURUT HUKUM ISLAM'
                      creator: 'Fauzi, Imam'
                      description: "Pengangkatan anak bukanlah permasalahan yang baru. Sejak zaman Jahiliyah, pengangkatan anak telah dilakukan dengan cara dan motivasi yang berbeda-beda sejalan dengan sistem dan peraturan hukum yang berlaku pada masyarakat yang bersangkutan. Persoalan mengenai pengangkatan anak dapat ditemukan dalam ketentuan Kompilasi Hukum Islam (KHI) di Indonesia dan hukum Islam (Madzhab Imam Hanafi, Imam Hanbali, Imam Maliki dan Imam Syafiâ€™i). Dimana, kedua perangkat hukum ini sama-sama menyatakan bahwa pengangkatan anak adalah sesuatu yang diperbolehkan selama demi kepentingan terbaik bagi anak angkat. Akan tetapi persoalan muncul ketika pengangkatan anak ini dikaitkan dengan persoalan waris. Antara KHI dan hukum Islam (Madzhab Imam Hanafi, Imam Hambali, Imam Maliki dan Imam Syafiâ€™i) timbul ketentuan yang berbeda dalam menyikapi permasalahan waris anak angkat. Hal inilah yang memberikan kesempatan kepada penyusun untuk menemukan Bagaimana ketentuan waris anak angkat dalam pasal 209 Kompilasi Hukum Islam menurut Hukum Islam (Madzhab Imam Hanafi, Imam Hanbali, Imam Maliki dan Imam Syafiâ€™i).\nPenelitian ini bertujuan untuk memetakan diskursus mengenai status kewarisan anak angkat dalam dua perspektif yang berbeda, yaitu KHI dan hukum Islam (Madzhab Imam Hanafi, Imam Hanbali, Imam Maliki dan Imam Syafiâ€™i). Dikarenakan kajian ini adalah kajian pustaka, maka pendekatan yang digunakan dalam penelitian ini adalah pendekatan secara normatif hukum dengan mengkaji ketentuan tentang anak angkat yang terdapat dalam al-Qurâ€™an, al-Hadits, pendapat Madzhab Imam Hanafi, Imam Hanbali, Imam Maliki, Imam Syafiâ€™i dan ulama penganut Madzhabnya, serta ketentuan yang terdapat dalam Kompilasi Hukum Islam di Indonesia.\nSetelah dilakukan penelitian oleh penulis, maka terungkaplah bahwa yang diambil sebagai landasan Kompilasi Hukum Islam dalam menentukan kewarisan anak angkat melalui wasiat wajibah mengikuti ijtihad ulama madzhab Hanbali. Dimana, konsep wasiat wajibah yang di-adopsi oleh Kompilasa Hukum Islam berasal dari negara Mesir dan Suriah. Namun, perbedaannya terletak pada, wasiat wajibah di negara Mesir dan Suriah diberikan kepada dzawil arham dan di Indonesia diberikan kepada anak angkat dan orang tua angkat. Sedangkan dalam memperoleh jumlah 1/3 dari harta warisan mengikuti pendapat ulama madzhab Hanafi."
                      type: 'info:eu-repo/semantics/article'
                      subject: 'Kewarisan Anak Angkat'
                      created_at: '2016-12-12'
                properties:
                  query:
                    type: string
                    example: 'q=hukum islam'
                  total:
                    type: integer
                    example: 2045
                  page:
                    type: integer
                    example: 2
                  limit:
                    type: integer
                    example: 3
                  data:
                    type: array
                    example:
                      -
                        id: 4fb52125-ba75-4fe9-98e9-76562686b8af
                        title: 'TRADISI MENIKAH PADA HARI RAYA IDUL FITRI DAN IDUL ADHA PERSPEKTIF HUKUM ISLAM'
                        creator: 'Trianingrum, Novi '
                        description: 'In Islam, marriage can take place on any day, because all days of the year are good days, a marriage is valid if it fulfills the pillars and conditions of marriage. However, in practice, marriages that occur in communities that are still steeped in Javanese customs sometimes still have rules other than those in the terms and conditions of marriage according to Islamic law. This research aims to determine the practice of wedding traditions on Eid al-Fitr and Eid al-Adha in Planjan Village, the views of the people of Planjan Village towards these traditional practices, and to find out the perspective of Islamic law regarding this tradition. This research is field research using qualitative research methods. The data criteria obtained are primary and secondary data. Data was obtained through observation, interviews and documentation. The research results show that the practice of getting married on Eid al-Fitr and Eid al-Adha in Planjan Village is a solution for the community to get around all the complexities of calculations in the Javanese primbon. The results of interviews with 6 sources show that many people in Planjan Village still carry out this tradition. There are those who trust it completely, there are also those who just respect the suggestions of their parents. It all comes back to each individual''s beliefs.'
                        type: 'info:eu-repo/semantics/article'
                        subject: Arriage
                        created_at: '2022-06-21'
                      -
                        id: b03c5a8e-2c56-4899-bb1d-890f13744b3b
                        title: 'HUKUM PERNIKAHAN ISTRI YANG DISEBABKAN SUAMI MAFQUD MENURUT PERSPEKTIF HUKUM ISLAM'
                        creator: 'Khomsatun, Ani'
                        description: "Pernikahan Merupakan Sebuah tindakan Sunnatullah yang umum dan berlaku pada semua mahluk-Nya, baik pada manusia, hewan, maupun tumbuhan. Ia adalah sesuatu yang dipilih oleh Allah SWT, sebagai jalan bagi mahluk-Nya untuk berkembangbiak, dan melestarikan hidupnya. Salah satu persyaratan dalam sebuah pernikahan adalah bahwa si istri tidak terikat dalam pernikahan orang lain. Pernikahan yang suaminya Mafqud disini harus menunggu kepastian yang sudah di tetapkan dalam Hukum Islam.\nPenelitian dalam skripsi ini menggunakan jenis penelitian dengan studi literatur, merupakan sebuah penelitian yang persiapanya sama dengan penelitian lainya akan tetapi sumber dan metode pengumpulan data dengan mengambil data di pustaka, membaca, mencatat, dan mengolah bahan penelitian. Penelitian ini termasuk dalam penelitian (library research), yaitu rangkaian kegiatan yang berkenan dengan metode pengumpulan data pustaka bersumber dari beberapa sumber catatan, buku-buku dan lain sebagainya.\nAdapun hasil penelitian ini adalah hukum pernikahan istri yang suaminya mafqud adalah sah, dan ketika si istri menghendaki untuk menikah seharusnya memperhatikan langkah-langkah yang harus di lalui menurut Mazhab syafiâ€™i, didalam Mazhab Syafiâ€™i banyak pendapat-pendapat tentang batasan waktu menunggu ketika suami mafqud, diantaranya menurut Imam Syafiâ€™i yaitu didalam qoul qodimnya 90 tahun , sedangkan menurut qoul jadidnya 4 tahun, selain itu juga ada pandangan menurut Kompilasi Hukum Islam Yaitu 2 tahun."
                        type: 'info:eu-repo/semantics/article'
                        subject: 'Hukum Penikahan'
                        created_at: '2021-06-16'
                      -
                        id: a7475c1e-3d12-443b-bee6-66b1ed839592
                        title: 'STATUS KEWARISAN ANAK ANGKAT PASAL 209 KHI MENURUT HUKUM ISLAM'
                        creator: 'Fauzi, Imam'
                        description: "Pengangkatan anak bukanlah permasalahan yang baru. Sejak zaman Jahiliyah, pengangkatan anak telah dilakukan dengan cara dan motivasi yang berbeda-beda sejalan dengan sistem dan peraturan hukum yang berlaku pada masyarakat yang bersangkutan. Persoalan mengenai pengangkatan anak dapat ditemukan dalam ketentuan Kompilasi Hukum Islam (KHI) di Indonesia dan hukum Islam (Madzhab Imam Hanafi, Imam Hanbali, Imam Maliki dan Imam Syafiâ€™i). Dimana, kedua perangkat hukum ini sama-sama menyatakan bahwa pengangkatan anak adalah sesuatu yang diperbolehkan selama demi kepentingan terbaik bagi anak angkat. Akan tetapi persoalan muncul ketika pengangkatan anak ini dikaitkan dengan persoalan waris. Antara KHI dan hukum Islam (Madzhab Imam Hanafi, Imam Hambali, Imam Maliki dan Imam Syafiâ€™i) timbul ketentuan yang berbeda dalam menyikapi permasalahan waris anak angkat. Hal inilah yang memberikan kesempatan kepada penyusun untuk menemukan Bagaimana ketentuan waris anak angkat dalam pasal 209 Kompilasi Hukum Islam menurut Hukum Islam (Madzhab Imam Hanafi, Imam Hanbali, Imam Maliki dan Imam Syafiâ€™i).\nPenelitian ini bertujuan untuk memetakan diskursus mengenai status kewarisan anak angkat dalam dua perspektif yang berbeda, yaitu KHI dan hukum Islam (Madzhab Imam Hanafi, Imam Hanbali, Imam Maliki dan Imam Syafiâ€™i). Dikarenakan kajian ini adalah kajian pustaka, maka pendekatan yang digunakan dalam penelitian ini adalah pendekatan secara normatif hukum dengan mengkaji ketentuan tentang anak angkat yang terdapat dalam al-Qurâ€™an, al-Hadits, pendapat Madzhab Imam Hanafi, Imam Hanbali, Imam Maliki, Imam Syafiâ€™i dan ulama penganut Madzhabnya, serta ketentuan yang terdapat dalam Kompilasi Hukum Islam di Indonesia.\nSetelah dilakukan penelitian oleh penulis, maka terungkaplah bahwa yang diambil sebagai landasan Kompilasi Hukum Islam dalam menentukan kewarisan anak angkat melalui wasiat wajibah mengikuti ijtihad ulama madzhab Hanbali. Dimana, konsep wasiat wajibah yang di-adopsi oleh Kompilasa Hukum Islam berasal dari negara Mesir dan Suriah. Namun, perbedaannya terletak pada, wasiat wajibah di negara Mesir dan Suriah diberikan kepada dzawil arham dan di Indonesia diberikan kepada anak angkat dan orang tua angkat. Sedangkan dalam memperoleh jumlah 1/3 dari harta warisan mengikuti pendapat ulama madzhab Hanafi."
                        type: 'info:eu-repo/semantics/article'
                        subject: 'Kewarisan Anak Angkat'
                        created_at: '2016-12-12'
                    items:
                      type: object
      tags:
        - 'Artikel Hukum'
  '/artikel/{id_artikel}/detail':
    get:
      summary: ''
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer 123ABC-demoonly'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  id: fdaea816-d08e-44e7-9323-0098c4b2f3fe
                  title: 'REFORMASI BIROKRASI BADAN NARKOTIKA NASIONAL DALAM PEMBERANTASAN TINDAK PIDANA NARKOTIKA'
                  creator: 'Cahyaningtyas, Irma'
                  publisher: 'Law Science Doctorate Program, Diponegoro University'
                  description: 'Peredaran narkotika di Indonesia semakin meningkat sehingga diperlukan kinerja aparat penegak hukum yang profesional. Badan Narkotika Nasional merupakan penyidik pada tindak pidana Narkotika. Permasalahan pada arikel ini adalah pertama, bagaimanakah proses penyidikan tindak pidana narkotika guna menentukan kualifikasi pengedar atau pemakai yang dilakukan oleh penyidik Badan Narkotika Nasional? Kedua, bagaimanakah reformasi birokrasi Badan Narkotika Nasional sebagai aparat penegak hukum dalam perkara tindak pidana narkotika?Pendekatan yang digunakan dalam artikel ini adalah pendekatan socio legal serta berlokasi di Badan Narkotika Nasional Provinsi (BNNP) Jawa Tengah.Berdasarkan penelitian dan pembahasan dinyatakan bahwa penyidikan yang dilakukan oleh BNN didasarkan pada kualifikasi pelaku yang di bedakan menjadi 3 (tiga) yaitu pemakai atau pengguna, pengedar dan produsen. Dalam meningkatkan kinerjanya, perlu ada pembaharuan berupa reformasi birokrasi pada tatanan substansi hukum, struktur hukum, dan kuktur hukum. Hal tersebut akan berpengaruh pada proses penegakan hukum tindak pidana narkotika yang cepat dan profesional.'
                  type: 'info:eu-repo/semantics/article'
                  subject: 'Badan Narkotika Nasional; Tindak Pidana Narkotika; Reformasi Birokrasi'
                  year:
                    - 2019
                  source:
                    - 'Jurnal Hukum Progresif; Vol 7, No 2 (2019): Volume: 7/Nomor2/Oktober/2019; 153-170'
                    - 1858-0254
                  jml_view: 38
                  file:
                    - 'https://interoperabilitas.perpusnas.go.id/get_storage/file/eyJpdiI6IjJVK25YcVFCYzlqdGVYTEc2aVpjemc9PSIsInZhbHVlIjoiQXFGeTVmaDdZdW9sRkEyYVlJZFBoQT09IiwibWFjIjoiN2Q2M2Q4YzJlMjNhZDFjM2MyMGJlN2VjZjllM2QxZDRhOTZkZjQ4ODRmNTYyOTM5MDhkODgwZTE3Mzg1NzdlMCIsInRhZyI6IiJ9'
                  created_at: '2019-10-31'
                properties:
                  id:
                    type: string
                    example: fdaea816-d08e-44e7-9323-0098c4b2f3fe
                  title:
                    type: string
                    example: 'REFORMASI BIROKRASI BADAN NARKOTIKA NASIONAL DALAM PEMBERANTASAN TINDAK PIDANA NARKOTIKA'
                  creator:
                    type: string
                    example: 'Cahyaningtyas, Irma'
                  publisher:
                    type: string
                    example: 'Law Science Doctorate Program, Diponegoro University'
                  description:
                    type: string
                    example: 'Peredaran narkotika di Indonesia semakin meningkat sehingga diperlukan kinerja aparat penegak hukum yang profesional. Badan Narkotika Nasional merupakan penyidik pada tindak pidana Narkotika. Permasalahan pada arikel ini adalah pertama, bagaimanakah proses penyidikan tindak pidana narkotika guna menentukan kualifikasi pengedar atau pemakai yang dilakukan oleh penyidik Badan Narkotika Nasional? Kedua, bagaimanakah reformasi birokrasi Badan Narkotika Nasional sebagai aparat penegak hukum dalam perkara tindak pidana narkotika?Pendekatan yang digunakan dalam artikel ini adalah pendekatan socio legal serta berlokasi di Badan Narkotika Nasional Provinsi (BNNP) Jawa Tengah.Berdasarkan penelitian dan pembahasan dinyatakan bahwa penyidikan yang dilakukan oleh BNN didasarkan pada kualifikasi pelaku yang di bedakan menjadi 3 (tiga) yaitu pemakai atau pengguna, pengedar dan produsen. Dalam meningkatkan kinerjanya, perlu ada pembaharuan berupa reformasi birokrasi pada tatanan substansi hukum, struktur hukum, dan kuktur hukum. Hal tersebut akan berpengaruh pada proses penegakan hukum tindak pidana narkotika yang cepat dan profesional.'
                  type:
                    type: string
                    example: 'info:eu-repo/semantics/article'
                  subject:
                    type: string
                    example: 'Badan Narkotika Nasional; Tindak Pidana Narkotika; Reformasi Birokrasi'
                  year:
                    type: array
                    example:
                      - 2019
                    items:
                      type: integer
                  source:
                    type: array
                    example:
                      - 'Jurnal Hukum Progresif; Vol 7, No 2 (2019): Volume: 7/Nomor2/Oktober/2019; 153-170'
                      - 1858-0254
                    items:
                      type: string
                  jml_view:
                    type: integer
                    example: 38
                  file:
                    type: array
                    example:
                      - 'https://interoperabilitas.perpusnas.go.id/get_storage/file/eyJpdiI6IjJVK25YcVFCYzlqdGVYTEc2aVpjemc9PSIsInZhbHVlIjoiQXFGeTVmaDdZdW9sRkEyYVlJZFBoQT09IiwibWFjIjoiN2Q2M2Q4YzJlMjNhZDFjM2MyMGJlN2VjZjllM2QxZDRhOTZkZjQ4ODRmNTYyOTM5MDhkODgwZTE3Mzg1NzdlMCIsInRhZyI6IiJ9'
                    items:
                      type: string
                  created_at:
                    type: string
                    example: '2019-10-31'
      tags:
        - 'Artikel Hukum'
    parameters:
      -
        in: path
        name: id_artikel
        description: 'ID dari artikel yang akan dilihat detailnya.'
        example: fdaea816-d08e-44e7-9323-0098c4b2f3fe
        required: true
        schema:
          type: string
  /list-berita:
    get:
      summary: ''
      description: ''
      parameters:
        -
          in: query
          name: page
          description: 'Jika dikosongkan, maka default akan menampilkan halaman 1.'
          example: 1
          required: false
          schema:
            type: integer
            description: 'Jika dikosongkan, maka default akan menampilkan halaman 1.'
            example: 1
        -
          in: query
          name: limit
          description: 'Jumlah data yang akan ditampilkan dalam 1 halaman.'
          example: 5
          required: false
          schema:
            type: integer
            description: 'Jumlah data yang akan ditampilkan dalam 1 halaman.'
            example: 5
        -
          in: query
          name: q
          description: 'Pencarian data berdasarkan query yang diinput oleh user.'
          example: 'karya cetak'
          required: false
          schema:
            type: string
            description: 'Pencarian data berdasarkan query yang diinput oleh user.'
            example: 'karya cetak'
        -
          in: query
          name: sort
          description: "Melakukan sort/pengurutan data ascending (asc) atau descending (desc) berdasarkan field yang diinginkan. \nField yang dapat dipakai \"judul\", \"deskripsi\", \"tanggal\", \"keywords\"."
          example: 'tanggal,desc'
          required: false
          schema:
            type: string
            description: "Melakukan sort/pengurutan data ascending (asc) atau descending (desc) berdasarkan field yang diinginkan. \nField yang dapat dipakai \"judul\", \"deskripsi\", \"tanggal\", \"keywords\"."
            example: 'tanggal,desc'
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer 123ABC-demoonly'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  total: 8
                  page: 1
                  limit: 5
                  data:
                    -
                      id_berita: 63
                      judul: 'Kolaborasi Biro Hukum, Organisasi, Kerja Sama, dan Humas dengan Direktorat Deposit dan Pengembangan Koleksi Perpustakaan dalam Rangka Penyusunan Standar Pengelolaan Koleksi Serah Simpan - Jakarta 19 Agustus 2021'
                      deskripsi: "<p class=\"MsoNormal\" style=\"text-align: justify;\"><span style=\"font-size: 8.5pt; line-height: 115%; font-family: 'Verdana','sans-serif'; color: black; background: white;\">Jakarta - Biro HOKH (Hukum, Organisasi, Kerja Sama, dan Humas)&nbsp; berkolaborasi dengan&nbsp;Direktorat Deposit dan Pengembangan Koleksi Perpustakaan dalam Rangka Penyusunan Standar Pengelolaan Koleksi Serah Simpan, Rapat kolaborasi ini dibuka oleh Kepala Biro HOKH&nbsp;</span>Perpusnas Sri Marganingsih, S.H., M.A., dan diikuti oleh 58 peserta, rapat ni juga turut mengundang Direktur Fasilitasi Perancangan Peraturan Daerah dan Pembinaan Perancang Peraturan Perundang-undangan Nuryanti Widyastuti, S.H. M.M, Sp. N. dari Kementerian Hukum dan HAM.</p>\n<p class=\"MsoNormal\" style=\"text-align: justify;\"><span style=\"font-size: 8.5pt; line-height: 115%; font-family: 'Verdana','sans-serif'; color: black; background: white;\">&ldquo;Standar Pengelolaan Koleksi Serah Simpan merupakan standar bagi Perpustakaan<span style=\"mso-spacerun: yes;\">&nbsp; </span>Nasional dan Perpustakaan Provinsi dalam melaksanakan pengelolaan hasil serah<span style=\"mso-spacerun: yes;\">&nbsp; </span>simpan. Standar ini dimaksudkan untuk menunjang seluruh proses Pengelolaan Hasil<span style=\"mso-spacerun: yes;\">&nbsp; </span>Serah Simpan Karya Cetak dan Karya Rekam, baik yang dilaksanakan oleh<span style=\"mso-spacerun: yes;\">&nbsp; </span>Perpustakaan Nasional maupun Perpustakaan Provinsi dalam menjalankan<span style=\"mso-spacerun: yes;\">&nbsp; </span>fungsinya sebagai Perpustakaan Deposit&rdquo; jelas Marganingsih.</span></p>\n<p class=\"MsoNormal\" style=\"text-align: justify;\"><span style=\"font-size: 8.5pt; line-height: 115%; font-family: 'Verdana','sans-serif'; color: black; background: white;\">&ldquo;</span><span lang=\"EN-ID\" style=\"font-size: 8.5pt; line-height: 115%; font-family: 'Verdana','sans-serif'; color: black; background: white; mso-ansi-language: EN-ID;\">Perpustakaan Nasional mengemban amanah pelaksanaan SS KCKR sesuai dengan UU No. 13 Tahun 2018 dan PP No. 55 Tahun 2021. Salah satu poin yang akan dibahas pada hari ini, yaitu mengenai sanksi administratif&rdquo; pungkas Tatat.</span></p>\n<p class=\"MsoNormal\" style=\"text-align: justify;\"><span lang=\"EN-ID\" style=\"font-size: 8.5pt; line-height: 115%; font-family: 'Verdana','sans-serif'; color: black; background: white; mso-ansi-language: EN-ID;\">Sementara itu, </span><span style=\"font-size: 8.5pt; line-height: 115%; font-family: 'Verdana','sans-serif'; color: black; background: white;\">Direktur Fasilitasi Perancangan Peraturan Daerah dan Pembinaan Perancang Peraturan Perundang-undangan, Nuryanti, menyampaikan &ldquo;</span><span lang=\"EN-ID\" style=\"font-size: 8.5pt; line-height: 115%; font-family: 'Verdana','sans-serif'; color: black; background: white; mso-ansi-language: EN-ID;\">Sanksi administratif tetap harus diterapkan walaupun dilakukan secara bertahap, bisa melalui monitoring dan evaluasi terlebih dahulu, sebelum dilakukan tindakan sanksi administratif yang dimaksud, Perlu ada pendekatan yang baik antara Perpusnas, Perpustakaan Provinsi dan Pelaksana Serah untuk menghindari pemberian sanksi berupa pembekuan dan pencabutan izin, misalnya saling bersurat&rdquo;.</span></p>\n<p class=\"MsoNormal\" style=\"text-align: justify;\">Emyati Tangke L, selaku Direktur <span style=\"font-size: 8.5pt; line-height: 115%; font-family: 'Verdana','sans-serif'; color: black; background: white;\">Deposit dan Pengembangan Koleksi Perpustakaan, menjelaskan &ldquo;Capaian penghimpunan KCKR Perpustakaan Nasional tahun 2020 sebanyak <span style=\"mso-bidi-font-weight: bold;\">420.000 eksemplar </span>melebihi target yang ditetapkan oleh lembaga. Hal ini terjadi karena sosialisasi sanksi pemantauan KCKR yg dilakukan oleh Perpusnas yang semakin gencar, dengan kinerja tersebut Perpusnas semakin optimis&rdquo;.</span></p>"
                      keywords: ''
                      tanggal: '2021-08-19 13:17:41'
                      view: 1596
                      file: 'https://api-jdih.perpusnas.go.id/berita/file/63'
                    -
                      id_berita: 60
                      judul: 'Perpusnas Lakukan Penyuluhan Hukum dan Sosialisasi Jaringan Dokumentasi dan Informasi Hukum (JDIH) - Gorontalo 25 Maret 2021'
                      deskripsi: "<blockquote>\n<p><strong><span style=\"font-family: 'Arial','sans-serif'; color: black;\">Gorontalo&nbsp;&ndash;</span></strong><span style=\"box-sizing: border-box;\">&nbsp;Perpustakaan Nasional (Perpusnas) bekerja sama dengan&nbsp;</span>Dinas Kearsipan dan Perpustakaan Provinsi Gorontalo&nbsp;melakukan penyuluhan hukum dan sosialisasi Jaringan Dokumentasi dan Informasi Hukum (JDIH). Kegiatan yang berlangsung di Hotel Aston Gorontalo, Jl. Manggis No 88, Libuo, Dungingi, Kota Gorontalo, Gorontalo, Kamis (25/3/2021) tersebut dibuka oleh Kepala&nbsp;Dinas Kearsipan dan Perpustakaan Provinsi Gorontalo,&nbsp;<span style=\"font-family: 'Arial','sans-serif'; mso-fareast-font-family: 'Times New Roman'; mso-fareast-theme-font: minor-fareast; color: black;\">H. Sul A. Maito S.Ag, ME</span><span style=\"font-family: 'Arial','sans-serif'; color: black;\">, dan diikuti sebanyak 60 peserta berasal dari berbagai instansi dan pemangku kepentingan di bidang karya cetak dan karya rekam.</span></p>\n<p><span style=\"box-sizing: border-box;\"><span style=\"font-family: 'Arial','sans-serif'; color: black;\">Penyuluhan hukum ini diselenggarakan oleh Biro Hukum, Organisasi, Kerja Sama, dan Hubungan Masyarakat (HOKH) bekerja sama dengan Direktorat Deposit dan Pengembangan Koleksi Perpustakaan. Materi pembahasan yang dibawakan meliputi Undang-Undang Nomor 13 Tahun 2018 tentang Serah Simpan Karya Cetak dan Karya Rekam (UU SSKCKR), sosialisasi&nbsp;<span style=\"box-sizing: border-box;\"><span style=\"font-family: 'Arial','sans-serif';\">e-Deposit</span></span>, penyuluhan hukum materi muatan Peraturan Daerah, dan sosialisasi JDIH Perpusnas.</span></span></p>\n<p><span style=\"box-sizing: border-box;\"><span style=\"font-family: 'Arial','sans-serif'; color: black;\">Maria Sobon Sampe S.Sos, MM&nbsp;selaku Pustakawan Utama mewakili Kepala Perpustakaan Nasional Republik Indonesia, menjelaskan &ldquo;</span><span style=\"font-family: 'Arial','sans-serif'; mso-fareast-font-family: 'Times New Roman'; mso-fareast-theme-font: minor-fareast; color: black;\">Provinsi Gorontalo dalam rentang waktu 2019 sampai dengan 2020 terdapat 26 penerbit aktif yang telah menyerahkan 261 judul dan 523 eksemplar. &nbsp;Sehubungan dengan hal tersebut kami mohon untuk para wajib serah yang belum menyerahkan hasil karyanya ke Perpustaakaan Nasional sebanyak 2 eksemplar dan 1 eksemplar ke Dinas Perpustakaan dan arsip Propinsi untuk segera menyerahkan sebagai hak wajib serah untuk menitipkan karyanya ke Perpustakaan Nasional dan Dinas Perpustakaan dan Arsip Propinsi demi keamanan, keselamatan dan kepatuhan wajib serah&nbsp; terhadap Undang-undang Serah Simpan Karya Cetak Karya Rekam</span><span style=\"font-family: 'Arial','sans-serif'; color: black;\">.&rdquo; jelas Maria.</span></span></p>\n<p><span style=\"box-sizing: border-box;\"><span style=\"font-family: 'Arial','sans-serif'; color: black;\">Sementara itu,&nbsp;Pustakawan Ahli Madya dari Biro HOKH Perpusnas, Budi Kusumawardani, menyampaikan &ldquo;dalam proses penyusunan peraturan daerah tentang penyelenggaraan perpustakaan&nbsp;</span><span style=\"font-family: 'Arial','sans-serif'; mso-fareast-font-family: 'Times New Roman'; mso-fareast-theme-font: minor-fareast; color: black;\">perlu dibuatkan dasar-dasar pengajuan perda tersebut dalam bentuk kajian, untuk memperkuat pengajuannya, hal ini dilakukan untuk meminimalisir benturan dengan kebijakan DPRD Gorontalo</span><span style=\"font-family: 'Arial','sans-serif'; color: black;\">,&rdquo; pungkas Budi.</span></span></p>\n<p><span style=\"box-sizing: border-box;\"><span style=\"font-family: 'Arial','sans-serif';\">&nbsp;</span></span></p>\n<p><span style=\"box-sizing: border-box;\"><span style=\"font-family: 'Arial','sans-serif'; color: black;\">Reporter dan fotografer: Biro HOKH, Perpusnas</span></span></p>\n<p class=\"MsoNormal\"><span style=\"font-size: 12.0pt; line-height: 115%; font-family: 'Arial','sans-serif';\">&nbsp;</span></p>\n</blockquote>"
                      keywords: ''
                      tanggal: '2021-04-05 15:07:47'
                      view: 1965
                      file: 'https://api-jdih.perpusnas.go.id/berita/file/60'
                    -
                      id_berita: 59
                      judul: 'Perpusnas Lakukan Penyuluhan Hukum dan Sosialisasi Jaringan Dokumentasi dan Informasi Hukum (JDIH) - Kalimantan Timur 25 Maret 2021'
                      deskripsi: "<p style=\"text-align: justify; background: white; margin: 0cm 0cm 7.5pt 0cm;\"><strong><span lang=\"EN-US\" style=\"font-size: 11.5pt; font-family: 'Arial',sans-serif; color: black; mso-color-alt: windowtext;\">Samarinda, Kalimantan Timur &ndash;</span></strong><span lang=\"EN-US\" style=\"font-size: 11.5pt; font-family: 'Arial',sans-serif; color: black; mso-color-alt: windowtext;\">&nbsp;Perpustakaan Nasional (Perpusnas) bekerja sama dengan Dinas Perpustakaan dan Kearsipan Provinsi Kalimantan Timur melakukan penyuluhan hukum dan sosialisasi Jaringan Dokumentasi dan Informasi Hukum (JDIH). Kegiatan yang berlangsung di Hotel Aston, Jl. Pangeran Hidayatullah, Kota Samarinda, Kalimantan Timur, Kamis (25/3/2021) tersebut dibuka oleh Kepala Dinas Perpustakaan dan Kearsipan Provinsi Kalimantan Timur, Drs. H. Elto, M.Si, dan diikuti sebanyak 60 peserta berasal dari berbagai instansi dan pemangku kepentingan di bidang karya cetak dan karya rekam.</span></p>\n<p style=\"text-align: justify; background: white; margin: 0cm 0cm 7.5pt 0cm;\"><span lang=\"EN-US\" style=\"font-size: 11.5pt; font-family: 'Arial',sans-serif; color: black; mso-color-alt: windowtext;\">Penyuluhan hukum ini diselenggarakan oleh Biro Hukum, Organisasi, Kerja Sama, dan Hubungan Masyarakat (HOKH) bekerja sama dengan Direktorat Deposit dan Pengembangan Koleksi Perpustakaan. Materi pembahasan yang dibawakan meliputi Undang-Undang Nomor 13 Tahun 2018 tentang Serah Simpan Karya Cetak dan Karya Rekam (UU SSKCKR), sosialisasi&nbsp;<em><span style=\"font-family: 'Arial',sans-serif;\">e-Deposit</span></em>, penyuluhan hukum materi muatan Peraturan Daerah, dan sosialisasi JDIH Perpusnas.</span></p>\n<p style=\"text-align: justify; background: white; margin: 0cm 0cm 7.5pt 0cm;\"><span lang=\"EN-US\" style=\"font-size: 11.5pt; font-family: 'Arial',sans-serif; color: black; mso-color-alt: windowtext;\">Dra. Mariana Ginting selaku Pustakawan Utama mewakili Kepala Perpustakaan Nasional Republik Indonesia, menjelaskan &ldquo;Undang-Undang Nomor 13 Tahun 2018 Tentang Serah Simpan Karya Cetak dan Karya Rekam pada bulan Desember tahun 2018 telah disahkan yang merupakan lompatan besar bagi dunia perpustakaan dan penerbitan di Indonesia. Undang-Undang ini merupakan pengganti dari Undang-Undang nomor 4 tahun 1990 tentang Serah Simpan Karya Cetak Karya Rekam yang telah berlaku lebih dari 28 tahun. Undang-Undang Nomor 13 Tahun 2018, isinya lebih lengkap dan komprehensif daripada Undang-Undang sebelumnya khususnya dalam mengakomodir kemajuan teknologi informasi dan komunikasi dan memberi peluang lebih banyak bagi para wajib serah untuk berpartisipasi dalam penghimpunan hasil budaya anak bangsa yang berupa karya cetak dan karya rekam.&rdquo; jelas Mariana.</span></p>\n<p style=\"text-align: justify; background: white; margin: 0cm 0cm 7.5pt 0cm;\"><span lang=\"EN-US\" style=\"font-size: 11.5pt; font-family: 'Arial',sans-serif; color: black; mso-color-alt: windowtext;\">Sementara itu, Penyusun Peraturan Perundang-Undangan Ahli Pertama dari Biro HOKH Perpusnas, Ananto Pratiesno, menyampaikan &ldquo;Masih terdapat kekurangan dalam Perda Nomor 7 Tahun 2015 tersebut, antara lain terkait Undang-Undang Nomor 13 Tahun 2018, sehingga perlu ditambahkan pengaturan kewajiban serah pada Pemda/SKPD dan DPRD. Kemudian perlu ditambahkan pengaturan mekanisme penyerahan KCKR, serta pengaturan mengenai pembinaan dan sanksi pelaksanaan KCKR,&rdquo; pungkas Ananto.</span></p>\n<p style=\"text-align: justify; background: white; margin: 0cm 0cm 7.5pt 0cm;\"><span lang=\"EN-US\" style=\"font-size: 11.5pt; font-family: 'Arial',sans-serif;\">&nbsp;</span></p>\n<p style=\"text-align: justify; background: white; margin: 0cm 0cm 7.5pt 0cm;\"><span lang=\"EN-US\" style=\"font-size: 11.5pt; font-family: 'Arial',sans-serif; color: black; mso-color-alt: windowtext;\">Reporter dan fotografer: Biro HOKH, Perpusnas</span></p>"
                      keywords: ''
                      tanggal: '2021-03-26 13:51:47'
                      view: 3297
                      file: 'https://api-jdih.perpusnas.go.id/berita/file/59'
                    -
                      id_berita: 58
                      judul: 'Perpusnas Lakukan Penyuluhan Hukum dan Sosialisasi Jaringan Dokumentasi dan Informasi Hukum (JDIH) - Aceh 18 Maret 2021'
                      deskripsi: "<p style=\"text-align: justify; background: white; margin: 0cm 0cm 7.5pt 0cm;\"><strong><span lang=\"EN-US\" style=\"font-size: 11.5pt; font-family: 'Arial',sans-serif; color: #3e4d5c;\">Banda Aceh, Aceh &ndash;</span></strong><span lang=\"EN-US\" style=\"font-size: 11.5pt; font-family: 'Arial',sans-serif; color: #3e4d5c;\">&nbsp;Perpustakaan Nasional (Perpusnas) bekerja sama dengan Dinas Perpustakaan dan Kearsipan Prov. Aceh melakukan penyuluhan hukum dan sosialisasi Jaringan Dokumentasi dan Informasi Hukum (JDIH). Kegiatan yang berlangsung di Hotel Kyriad, Jl. Teuku Moh. Daud Beureueh No.5, Laksana, Kec. Kuta Alam, Kota Banda Aceh, Kamis (18/3/2021) tersebut dibuka oleh Kepala Dinas Perpustakaan Dan Kearsipan Prov. Aceh, Edi Yandra, dan diikuti sebanyak 60 peserta berasal dari berbagai instansi dan pemangku kepentingan di bidang karya cetak dan karya rekam.</span></p>\n<p style=\"text-align: justify; background: white; margin: 0cm 0cm 7.5pt 0cm;\"><span lang=\"EN-US\" style=\"font-size: 11.5pt; font-family: 'Arial',sans-serif; color: #3e4d5c;\">Penyuluhan hukum ini diselenggarakan oleh Biro Hukum, Organisasi, Kerja Sama, dan Hubungan Masyarakat (HOKH) bekerja sama dengan Direktorat Deposit dan Pengembangan Koleksi Perpustakaan. Materi pembahasan yang dibawakan meliputi Undang-Undang Nomor 13 Tahun 2018 tentang Serah Simpan Karya Cetak dan Karya Rekam (UU SSKCKR), sosialisasi&nbsp;<em><span style=\"font-family: 'Arial',sans-serif;\">e-Deposit</span></em>, penyuluhan hukum materi muatan Peraturan Daerah, dan sosialisasi JDIH Perpusnas.</span></p>\n<p style=\"text-align: justify; background: white; margin: 0cm 0cm 7.5pt 0cm;\"><span lang=\"EN-US\" style=\"font-size: 11.5pt; font-family: 'Arial',sans-serif; color: black; mso-color-alt: windowtext;\">Deputi&nbsp;Bidang Pengembangan dan Jasa Informasi Perpusnas diwakili oleh Pustakawan Utama Perpustakaan Nasional Subeti Makdriani, menjelaskan Dengan disahkannya Undang-Undang Nomor 13 Tahun 2018 Tentang Serah Simpan Karya Cetak dan Karya Rekam pada bulan Desember tahun 2018 telah disahkan yang merupakan lompatan besar bagi dunia perpustakaan dan penerbitan di Indonesia Undang-Undang ini merupakan pengganti dari Undang-Undang nomor 4 tahun 1990 tentang Serah Simpan Karya Cetak Karya Rekam yang masa berlakunya lebih dari 28 tahun,&rdquo; jelas Subeti.</span></p>\n<p style=\"text-align: justify; background: white; margin: 0cm 0cm 7.5pt 0cm;\"><span lang=\"EN-US\" style=\"font-size: 11.5pt; font-family: 'Arial',sans-serif; color: black; mso-color-alt: windowtext;\">Sementara itu, Penyusun Peraturan Perundang-Undangan Ahli Pertama dari Biro HOKH Perpusnas, Ardiansyah Al Ghani, menyampaikan Suatu pemerintahan daerah baik provinsi maupun kabupaten/kota idealnya mencakup seluruh urusan yang diatur dalam lampiran huruf W Undang-Undang No 23 Tahun 2014. Jika ada substansi yang terlewat, bisa dilakukan revisi atau penyusunan peraturan yang terpisah dari peraturan intinya,&rdquo; pungkas Ardi.</span></p>\n<p style=\"text-align: justify; background: white; margin: 0cm 0cm 7.5pt 0cm;\"><span lang=\"EN-US\" style=\"font-size: 11.5pt; font-family: 'Arial',sans-serif; color: #3e4d5c;\">&nbsp;</span></p>\n<p style=\"text-align: justify; background: white; margin: 0cm 0cm 7.5pt 0cm;\"><span lang=\"EN-US\" style=\"font-size: 11.5pt; font-family: 'Arial',sans-serif; color: #3e4d5c;\">Reporter dan fotografer: Biro HOKH, Perpusnas</span></p>"
                      keywords: ''
                      tanggal: '2021-03-26 13:48:10'
                      view: 1611
                      file: 'https://api-jdih.perpusnas.go.id/berita/file/58'
                    -
                      id_berita: 57
                      judul: 'Perpusnas Lakukan Penyuluhan Hukum dan Sosialisasi Jaringan Dokumentasi dan Informasi Hukum (JDIH) - Sulawesi Tenggara 5 Maret 2021'
                      deskripsi: "<p style=\"text-align: justify; background: white; margin: 0cm 0cm 7.5pt 0cm;\"><strong><span style=\"font-size: 11.5pt; font-family: 'Arial','sans-serif'; color: #3e4d5c;\">Kendari, Sulawesi Tenggara &ndash;</span></strong><span style=\"font-size: 11.5pt; font-family: 'Arial','sans-serif'; color: #3e4d5c;\">&nbsp;Perpustakaan Nasional (Perpusnas) bekerja sama dengan Dinas Perpustakaan Dan Kearsipan Prov. Sultra melakukan penyuluhan hukum dan sosialisasi Jaringan Dokumentasi dan Informasi Hukum (JDIH). Kegiatan yang berlangsung di Hotel Claro, Jl. Edi Sabara Lahundape, Kota Kendari, Sulawesi Tenggara, Jum&rsquo;at (5/3/2021) tersebut dibuka oleh Kepala Dinas Perpustakaan Dan Kearsipan Prov. Sultra, </span><span lang=\"EN-ID\" style=\"font-size: 11.5pt; font-family: 'Arial','sans-serif'; color: #3e4d5c; mso-ansi-language: EN-ID;\">Nur Saleh</span><span style=\"font-size: 11.5pt; font-family: 'Arial','sans-serif'; color: #3e4d5c;\">, dan diikuti sebanyak 60 peserta berasal dari berbagai instansi dan pemangku kepentingan di bidang karya cetak dan karya rekam.</span></p>\n<p style=\"text-align: justify; background: white; margin: 0cm 0cm 7.5pt 0cm;\"><span style=\"font-size: 11.5pt; font-family: 'Arial','sans-serif'; color: #3e4d5c;\">Penyuluhan hukum ini diselenggarakan oleh Biro Hukum, Organisasi, Kerja Sama, dan Hubungan Masyarakat (HOKH) bekerja sama dengan Direktorat Deposit dan Pengembangan Koleksi Perpustakaan. Materi pembahasan yang dibawakan meliputi Undang-Undang Nomor 13 Tahun 2018 tentang Serah Simpan Karya Cetak dan Karya Rekam (UU SSKCKR), sosialisasi&nbsp;<em><span style=\"font-family: 'Arial','sans-serif';\">e-Deposit</span></em>, penyuluhan hukum materi muatan Peraturan Daerah, dan sosialisasi JDIH Perpusnas.</span></p>\n<p style=\"text-align: justify; background: white; margin: 0cm 0cm 7.5pt 0cm;\"><span style=\"font-size: 11.5pt; font-family: 'Arial','sans-serif';\">Deputi&nbsp;Bidang Pengembangan dan Jasa Informasi Perpusnas diwakili oleh </span><span lang=\"EN-ID\" style=\"font-size: 11.5pt; font-family: 'Arial','sans-serif'; mso-ansi-language: EN-ID;\">Direktur Deposit dan Pengembangan Koleksi Perpustakaan</span><span style=\"font-size: 11.5pt; font-family: 'Arial','sans-serif';\">, </span><span lang=\"EN-ID\" style=\"font-size: 11.5pt; font-family: 'Arial','sans-serif'; mso-ansi-language: EN-ID;\">Emyati Tangke Lembang</span><span style=\"font-size: 11.5pt; font-family: 'Arial','sans-serif';\">, menjelaskan </span><span lang=\"EN-ID\" style=\"font-size: 11.5pt; font-family: 'Arial','sans-serif'; mso-ansi-language: EN-ID;\">kami Perpusnas juga melakukan akuisisi (pembelian) memang tidak diatur dalam UU SSKCKR, kebijakan yang dilakukan adalah 1 judul 4 eksemplar, buku yang diakusisi adalah buku langka, lokal konten, naskah kuno, contohnya di Kendari lokal konten yang diterbitkan penerbit setempat seperti ekonomi, budaya, pariwisata dan lingkungan hidup. Kita akan membangun buku tersebut dengan kesesuaian pada destinasi yang kita pilih untuk pemberian bantuan buku, penerbit di daerah jangan berkecil hati sepanjang penerbt dapat berkoordinasi dengan baik dan karyanya juga bagus maka kita pasti akan membeli. Setiap tahun Perpusnas melakukan hunting naskah kuno dan akan kami beli</span><span style=\"font-size: 11.5pt; font-family: 'Arial','sans-serif';\">,&rdquo; jelas Emyati.</span></p>\n<p style=\"text-align: justify; background: white; margin: 0cm 0cm 7.5pt 0cm;\"><span style=\"font-size: 11.5pt; font-family: 'Arial','sans-serif';\">Sementara itu, Subkoordinator Penyusunan Peraturan Perundang-Undangan dari Biro HOKH Perpusnas, Ananto Pratiesno, menyampaikan terdapat 2 jenis sumber data hukum yaitu konvensional dan TIK, untuk mencari dokumen hukum bidang peprustakaan dapat diakses pada web jdih.perpusnas.go.id. Kemudian mengenai meteri muatan materi muatan Peraturan Daerah (Perda) dan memberikan beberapa masukan terhadap Perda Provinsi Sulawesi Tenggara Nomor 11 Tahun 2016 tentang Pengelolaan Perpustakaan. Ada beberapa hal yang perlu ditambahkan dalam Perda tersebut, antara lain perlunya penyesuaian kembali mekanisme penyerahan karya cetak dan karya rekam berdasarkan UU SSKCKR, penambahan pengaturan mengenai pembinaan dan sanksi pelaksanaan SSKCKR, dan perluasan peran serta masyarakat. &ldquo;Tujuan utama dari pengelolaan situs web jdih.perpusnas.go.id. adalah agar dapat memberikan manfaat bagi seluruh pihak dan kalangan dalam memperoleh informasi serta dokumen hukum bidang perpustakaan,&rdquo; pungkas Ananto.</span></p>\n<p style=\"text-align: justify; background: white; margin: 0cm 0cm 7.5pt 0cm;\"><span style=\"font-size: 11.5pt; font-family: 'Arial','sans-serif'; color: #3e4d5c;\">Dalam kegiatan tersebut, juga diperkenalkan&nbsp;<em><span style=\"font-family: 'Arial','sans-serif';\">e-Deposit</span></em>&nbsp;yang merupakan aplikasi penghimpunan, pengolahan, dan pendayagunaan daya karya cetak dan karya rekam.</span></p>\n<p style=\"text-align: justify; background: white; margin: 0cm 0cm 7.5pt 0cm;\"><span style=\"font-size: 11.5pt; font-family: 'Arial','sans-serif'; color: #3e4d5c;\">&nbsp;</span></p>\n<p style=\"text-align: justify; background: white; margin: 0cm 0cm 7.5pt 0cm;\"><span style=\"font-size: 11.5pt; font-family: 'Arial','sans-serif'; color: #3e4d5c;\">Reporter dan fotografer: Biro HOKH, Perpusnas</span></p>\n<p class=\"MsoNormal\">&nbsp;</p>"
                      keywords: ''
                      tanggal: '2021-03-08 08:13:20'
                      view: 1366
                      file: 'https://api-jdih.perpusnas.go.id/berita/file/57'
                properties:
                  total:
                    type: integer
                    example: 8
                  page:
                    type: integer
                    example: 1
                  limit:
                    type: integer
                    example: 5
                  data:
                    type: array
                    example:
                      -
                        id_berita: 63
                        judul: 'Kolaborasi Biro Hukum, Organisasi, Kerja Sama, dan Humas dengan Direktorat Deposit dan Pengembangan Koleksi Perpustakaan dalam Rangka Penyusunan Standar Pengelolaan Koleksi Serah Simpan - Jakarta 19 Agustus 2021'
                        deskripsi: "<p class=\"MsoNormal\" style=\"text-align: justify;\"><span style=\"font-size: 8.5pt; line-height: 115%; font-family: 'Verdana','sans-serif'; color: black; background: white;\">Jakarta - Biro HOKH (Hukum, Organisasi, Kerja Sama, dan Humas)&nbsp; berkolaborasi dengan&nbsp;Direktorat Deposit dan Pengembangan Koleksi Perpustakaan dalam Rangka Penyusunan Standar Pengelolaan Koleksi Serah Simpan, Rapat kolaborasi ini dibuka oleh Kepala Biro HOKH&nbsp;</span>Perpusnas Sri Marganingsih, S.H., M.A., dan diikuti oleh 58 peserta, rapat ni juga turut mengundang Direktur Fasilitasi Perancangan Peraturan Daerah dan Pembinaan Perancang Peraturan Perundang-undangan Nuryanti Widyastuti, S.H. M.M, Sp. N. dari Kementerian Hukum dan HAM.</p>\n<p class=\"MsoNormal\" style=\"text-align: justify;\"><span style=\"font-size: 8.5pt; line-height: 115%; font-family: 'Verdana','sans-serif'; color: black; background: white;\">&ldquo;Standar Pengelolaan Koleksi Serah Simpan merupakan standar bagi Perpustakaan<span style=\"mso-spacerun: yes;\">&nbsp; </span>Nasional dan Perpustakaan Provinsi dalam melaksanakan pengelolaan hasil serah<span style=\"mso-spacerun: yes;\">&nbsp; </span>simpan. Standar ini dimaksudkan untuk menunjang seluruh proses Pengelolaan Hasil<span style=\"mso-spacerun: yes;\">&nbsp; </span>Serah Simpan Karya Cetak dan Karya Rekam, baik yang dilaksanakan oleh<span style=\"mso-spacerun: yes;\">&nbsp; </span>Perpustakaan Nasional maupun Perpustakaan Provinsi dalam menjalankan<span style=\"mso-spacerun: yes;\">&nbsp; </span>fungsinya sebagai Perpustakaan Deposit&rdquo; jelas Marganingsih.</span></p>\n<p class=\"MsoNormal\" style=\"text-align: justify;\"><span style=\"font-size: 8.5pt; line-height: 115%; font-family: 'Verdana','sans-serif'; color: black; background: white;\">&ldquo;</span><span lang=\"EN-ID\" style=\"font-size: 8.5pt; line-height: 115%; font-family: 'Verdana','sans-serif'; color: black; background: white; mso-ansi-language: EN-ID;\">Perpustakaan Nasional mengemban amanah pelaksanaan SS KCKR sesuai dengan UU No. 13 Tahun 2018 dan PP No. 55 Tahun 2021. Salah satu poin yang akan dibahas pada hari ini, yaitu mengenai sanksi administratif&rdquo; pungkas Tatat.</span></p>\n<p class=\"MsoNormal\" style=\"text-align: justify;\"><span lang=\"EN-ID\" style=\"font-size: 8.5pt; line-height: 115%; font-family: 'Verdana','sans-serif'; color: black; background: white; mso-ansi-language: EN-ID;\">Sementara itu, </span><span style=\"font-size: 8.5pt; line-height: 115%; font-family: 'Verdana','sans-serif'; color: black; background: white;\">Direktur Fasilitasi Perancangan Peraturan Daerah dan Pembinaan Perancang Peraturan Perundang-undangan, Nuryanti, menyampaikan &ldquo;</span><span lang=\"EN-ID\" style=\"font-size: 8.5pt; line-height: 115%; font-family: 'Verdana','sans-serif'; color: black; background: white; mso-ansi-language: EN-ID;\">Sanksi administratif tetap harus diterapkan walaupun dilakukan secara bertahap, bisa melalui monitoring dan evaluasi terlebih dahulu, sebelum dilakukan tindakan sanksi administratif yang dimaksud, Perlu ada pendekatan yang baik antara Perpusnas, Perpustakaan Provinsi dan Pelaksana Serah untuk menghindari pemberian sanksi berupa pembekuan dan pencabutan izin, misalnya saling bersurat&rdquo;.</span></p>\n<p class=\"MsoNormal\" style=\"text-align: justify;\">Emyati Tangke L, selaku Direktur <span style=\"font-size: 8.5pt; line-height: 115%; font-family: 'Verdana','sans-serif'; color: black; background: white;\">Deposit dan Pengembangan Koleksi Perpustakaan, menjelaskan &ldquo;Capaian penghimpunan KCKR Perpustakaan Nasional tahun 2020 sebanyak <span style=\"mso-bidi-font-weight: bold;\">420.000 eksemplar </span>melebihi target yang ditetapkan oleh lembaga. Hal ini terjadi karena sosialisasi sanksi pemantauan KCKR yg dilakukan oleh Perpusnas yang semakin gencar, dengan kinerja tersebut Perpusnas semakin optimis&rdquo;.</span></p>"
                        keywords: ''
                        tanggal: '2021-08-19 13:17:41'
                        view: 1596
                        file: 'https://api-jdih.perpusnas.go.id/berita/file/63'
                      -
                        id_berita: 60
                        judul: 'Perpusnas Lakukan Penyuluhan Hukum dan Sosialisasi Jaringan Dokumentasi dan Informasi Hukum (JDIH) - Gorontalo 25 Maret 2021'
                        deskripsi: "<blockquote>\n<p><strong><span style=\"font-family: 'Arial','sans-serif'; color: black;\">Gorontalo&nbsp;&ndash;</span></strong><span style=\"box-sizing: border-box;\">&nbsp;Perpustakaan Nasional (Perpusnas) bekerja sama dengan&nbsp;</span>Dinas Kearsipan dan Perpustakaan Provinsi Gorontalo&nbsp;melakukan penyuluhan hukum dan sosialisasi Jaringan Dokumentasi dan Informasi Hukum (JDIH). Kegiatan yang berlangsung di Hotel Aston Gorontalo, Jl. Manggis No 88, Libuo, Dungingi, Kota Gorontalo, Gorontalo, Kamis (25/3/2021) tersebut dibuka oleh Kepala&nbsp;Dinas Kearsipan dan Perpustakaan Provinsi Gorontalo,&nbsp;<span style=\"font-family: 'Arial','sans-serif'; mso-fareast-font-family: 'Times New Roman'; mso-fareast-theme-font: minor-fareast; color: black;\">H. Sul A. Maito S.Ag, ME</span><span style=\"font-family: 'Arial','sans-serif'; color: black;\">, dan diikuti sebanyak 60 peserta berasal dari berbagai instansi dan pemangku kepentingan di bidang karya cetak dan karya rekam.</span></p>\n<p><span style=\"box-sizing: border-box;\"><span style=\"font-family: 'Arial','sans-serif'; color: black;\">Penyuluhan hukum ini diselenggarakan oleh Biro Hukum, Organisasi, Kerja Sama, dan Hubungan Masyarakat (HOKH) bekerja sama dengan Direktorat Deposit dan Pengembangan Koleksi Perpustakaan. Materi pembahasan yang dibawakan meliputi Undang-Undang Nomor 13 Tahun 2018 tentang Serah Simpan Karya Cetak dan Karya Rekam (UU SSKCKR), sosialisasi&nbsp;<span style=\"box-sizing: border-box;\"><span style=\"font-family: 'Arial','sans-serif';\">e-Deposit</span></span>, penyuluhan hukum materi muatan Peraturan Daerah, dan sosialisasi JDIH Perpusnas.</span></span></p>\n<p><span style=\"box-sizing: border-box;\"><span style=\"font-family: 'Arial','sans-serif'; color: black;\">Maria Sobon Sampe S.Sos, MM&nbsp;selaku Pustakawan Utama mewakili Kepala Perpustakaan Nasional Republik Indonesia, menjelaskan &ldquo;</span><span style=\"font-family: 'Arial','sans-serif'; mso-fareast-font-family: 'Times New Roman'; mso-fareast-theme-font: minor-fareast; color: black;\">Provinsi Gorontalo dalam rentang waktu 2019 sampai dengan 2020 terdapat 26 penerbit aktif yang telah menyerahkan 261 judul dan 523 eksemplar. &nbsp;Sehubungan dengan hal tersebut kami mohon untuk para wajib serah yang belum menyerahkan hasil karyanya ke Perpustaakaan Nasional sebanyak 2 eksemplar dan 1 eksemplar ke Dinas Perpustakaan dan arsip Propinsi untuk segera menyerahkan sebagai hak wajib serah untuk menitipkan karyanya ke Perpustakaan Nasional dan Dinas Perpustakaan dan Arsip Propinsi demi keamanan, keselamatan dan kepatuhan wajib serah&nbsp; terhadap Undang-undang Serah Simpan Karya Cetak Karya Rekam</span><span style=\"font-family: 'Arial','sans-serif'; color: black;\">.&rdquo; jelas Maria.</span></span></p>\n<p><span style=\"box-sizing: border-box;\"><span style=\"font-family: 'Arial','sans-serif'; color: black;\">Sementara itu,&nbsp;Pustakawan Ahli Madya dari Biro HOKH Perpusnas, Budi Kusumawardani, menyampaikan &ldquo;dalam proses penyusunan peraturan daerah tentang penyelenggaraan perpustakaan&nbsp;</span><span style=\"font-family: 'Arial','sans-serif'; mso-fareast-font-family: 'Times New Roman'; mso-fareast-theme-font: minor-fareast; color: black;\">perlu dibuatkan dasar-dasar pengajuan perda tersebut dalam bentuk kajian, untuk memperkuat pengajuannya, hal ini dilakukan untuk meminimalisir benturan dengan kebijakan DPRD Gorontalo</span><span style=\"font-family: 'Arial','sans-serif'; color: black;\">,&rdquo; pungkas Budi.</span></span></p>\n<p><span style=\"box-sizing: border-box;\"><span style=\"font-family: 'Arial','sans-serif';\">&nbsp;</span></span></p>\n<p><span style=\"box-sizing: border-box;\"><span style=\"font-family: 'Arial','sans-serif'; color: black;\">Reporter dan fotografer: Biro HOKH, Perpusnas</span></span></p>\n<p class=\"MsoNormal\"><span style=\"font-size: 12.0pt; line-height: 115%; font-family: 'Arial','sans-serif';\">&nbsp;</span></p>\n</blockquote>"
                        keywords: ''
                        tanggal: '2021-04-05 15:07:47'
                        view: 1965
                        file: 'https://api-jdih.perpusnas.go.id/berita/file/60'
                      -
                        id_berita: 59
                        judul: 'Perpusnas Lakukan Penyuluhan Hukum dan Sosialisasi Jaringan Dokumentasi dan Informasi Hukum (JDIH) - Kalimantan Timur 25 Maret 2021'
                        deskripsi: "<p style=\"text-align: justify; background: white; margin: 0cm 0cm 7.5pt 0cm;\"><strong><span lang=\"EN-US\" style=\"font-size: 11.5pt; font-family: 'Arial',sans-serif; color: black; mso-color-alt: windowtext;\">Samarinda, Kalimantan Timur &ndash;</span></strong><span lang=\"EN-US\" style=\"font-size: 11.5pt; font-family: 'Arial',sans-serif; color: black; mso-color-alt: windowtext;\">&nbsp;Perpustakaan Nasional (Perpusnas) bekerja sama dengan Dinas Perpustakaan dan Kearsipan Provinsi Kalimantan Timur melakukan penyuluhan hukum dan sosialisasi Jaringan Dokumentasi dan Informasi Hukum (JDIH). Kegiatan yang berlangsung di Hotel Aston, Jl. Pangeran Hidayatullah, Kota Samarinda, Kalimantan Timur, Kamis (25/3/2021) tersebut dibuka oleh Kepala Dinas Perpustakaan dan Kearsipan Provinsi Kalimantan Timur, Drs. H. Elto, M.Si, dan diikuti sebanyak 60 peserta berasal dari berbagai instansi dan pemangku kepentingan di bidang karya cetak dan karya rekam.</span></p>\n<p style=\"text-align: justify; background: white; margin: 0cm 0cm 7.5pt 0cm;\"><span lang=\"EN-US\" style=\"font-size: 11.5pt; font-family: 'Arial',sans-serif; color: black; mso-color-alt: windowtext;\">Penyuluhan hukum ini diselenggarakan oleh Biro Hukum, Organisasi, Kerja Sama, dan Hubungan Masyarakat (HOKH) bekerja sama dengan Direktorat Deposit dan Pengembangan Koleksi Perpustakaan. Materi pembahasan yang dibawakan meliputi Undang-Undang Nomor 13 Tahun 2018 tentang Serah Simpan Karya Cetak dan Karya Rekam (UU SSKCKR), sosialisasi&nbsp;<em><span style=\"font-family: 'Arial',sans-serif;\">e-Deposit</span></em>, penyuluhan hukum materi muatan Peraturan Daerah, dan sosialisasi JDIH Perpusnas.</span></p>\n<p style=\"text-align: justify; background: white; margin: 0cm 0cm 7.5pt 0cm;\"><span lang=\"EN-US\" style=\"font-size: 11.5pt; font-family: 'Arial',sans-serif; color: black; mso-color-alt: windowtext;\">Dra. Mariana Ginting selaku Pustakawan Utama mewakili Kepala Perpustakaan Nasional Republik Indonesia, menjelaskan &ldquo;Undang-Undang Nomor 13 Tahun 2018 Tentang Serah Simpan Karya Cetak dan Karya Rekam pada bulan Desember tahun 2018 telah disahkan yang merupakan lompatan besar bagi dunia perpustakaan dan penerbitan di Indonesia. Undang-Undang ini merupakan pengganti dari Undang-Undang nomor 4 tahun 1990 tentang Serah Simpan Karya Cetak Karya Rekam yang telah berlaku lebih dari 28 tahun. Undang-Undang Nomor 13 Tahun 2018, isinya lebih lengkap dan komprehensif daripada Undang-Undang sebelumnya khususnya dalam mengakomodir kemajuan teknologi informasi dan komunikasi dan memberi peluang lebih banyak bagi para wajib serah untuk berpartisipasi dalam penghimpunan hasil budaya anak bangsa yang berupa karya cetak dan karya rekam.&rdquo; jelas Mariana.</span></p>\n<p style=\"text-align: justify; background: white; margin: 0cm 0cm 7.5pt 0cm;\"><span lang=\"EN-US\" style=\"font-size: 11.5pt; font-family: 'Arial',sans-serif; color: black; mso-color-alt: windowtext;\">Sementara itu, Penyusun Peraturan Perundang-Undangan Ahli Pertama dari Biro HOKH Perpusnas, Ananto Pratiesno, menyampaikan &ldquo;Masih terdapat kekurangan dalam Perda Nomor 7 Tahun 2015 tersebut, antara lain terkait Undang-Undang Nomor 13 Tahun 2018, sehingga perlu ditambahkan pengaturan kewajiban serah pada Pemda/SKPD dan DPRD. Kemudian perlu ditambahkan pengaturan mekanisme penyerahan KCKR, serta pengaturan mengenai pembinaan dan sanksi pelaksanaan KCKR,&rdquo; pungkas Ananto.</span></p>\n<p style=\"text-align: justify; background: white; margin: 0cm 0cm 7.5pt 0cm;\"><span lang=\"EN-US\" style=\"font-size: 11.5pt; font-family: 'Arial',sans-serif;\">&nbsp;</span></p>\n<p style=\"text-align: justify; background: white; margin: 0cm 0cm 7.5pt 0cm;\"><span lang=\"EN-US\" style=\"font-size: 11.5pt; font-family: 'Arial',sans-serif; color: black; mso-color-alt: windowtext;\">Reporter dan fotografer: Biro HOKH, Perpusnas</span></p>"
                        keywords: ''
                        tanggal: '2021-03-26 13:51:47'
                        view: 3297
                        file: 'https://api-jdih.perpusnas.go.id/berita/file/59'
                      -
                        id_berita: 58
                        judul: 'Perpusnas Lakukan Penyuluhan Hukum dan Sosialisasi Jaringan Dokumentasi dan Informasi Hukum (JDIH) - Aceh 18 Maret 2021'
                        deskripsi: "<p style=\"text-align: justify; background: white; margin: 0cm 0cm 7.5pt 0cm;\"><strong><span lang=\"EN-US\" style=\"font-size: 11.5pt; font-family: 'Arial',sans-serif; color: #3e4d5c;\">Banda Aceh, Aceh &ndash;</span></strong><span lang=\"EN-US\" style=\"font-size: 11.5pt; font-family: 'Arial',sans-serif; color: #3e4d5c;\">&nbsp;Perpustakaan Nasional (Perpusnas) bekerja sama dengan Dinas Perpustakaan dan Kearsipan Prov. Aceh melakukan penyuluhan hukum dan sosialisasi Jaringan Dokumentasi dan Informasi Hukum (JDIH). Kegiatan yang berlangsung di Hotel Kyriad, Jl. Teuku Moh. Daud Beureueh No.5, Laksana, Kec. Kuta Alam, Kota Banda Aceh, Kamis (18/3/2021) tersebut dibuka oleh Kepala Dinas Perpustakaan Dan Kearsipan Prov. Aceh, Edi Yandra, dan diikuti sebanyak 60 peserta berasal dari berbagai instansi dan pemangku kepentingan di bidang karya cetak dan karya rekam.</span></p>\n<p style=\"text-align: justify; background: white; margin: 0cm 0cm 7.5pt 0cm;\"><span lang=\"EN-US\" style=\"font-size: 11.5pt; font-family: 'Arial',sans-serif; color: #3e4d5c;\">Penyuluhan hukum ini diselenggarakan oleh Biro Hukum, Organisasi, Kerja Sama, dan Hubungan Masyarakat (HOKH) bekerja sama dengan Direktorat Deposit dan Pengembangan Koleksi Perpustakaan. Materi pembahasan yang dibawakan meliputi Undang-Undang Nomor 13 Tahun 2018 tentang Serah Simpan Karya Cetak dan Karya Rekam (UU SSKCKR), sosialisasi&nbsp;<em><span style=\"font-family: 'Arial',sans-serif;\">e-Deposit</span></em>, penyuluhan hukum materi muatan Peraturan Daerah, dan sosialisasi JDIH Perpusnas.</span></p>\n<p style=\"text-align: justify; background: white; margin: 0cm 0cm 7.5pt 0cm;\"><span lang=\"EN-US\" style=\"font-size: 11.5pt; font-family: 'Arial',sans-serif; color: black; mso-color-alt: windowtext;\">Deputi&nbsp;Bidang Pengembangan dan Jasa Informasi Perpusnas diwakili oleh Pustakawan Utama Perpustakaan Nasional Subeti Makdriani, menjelaskan Dengan disahkannya Undang-Undang Nomor 13 Tahun 2018 Tentang Serah Simpan Karya Cetak dan Karya Rekam pada bulan Desember tahun 2018 telah disahkan yang merupakan lompatan besar bagi dunia perpustakaan dan penerbitan di Indonesia Undang-Undang ini merupakan pengganti dari Undang-Undang nomor 4 tahun 1990 tentang Serah Simpan Karya Cetak Karya Rekam yang masa berlakunya lebih dari 28 tahun,&rdquo; jelas Subeti.</span></p>\n<p style=\"text-align: justify; background: white; margin: 0cm 0cm 7.5pt 0cm;\"><span lang=\"EN-US\" style=\"font-size: 11.5pt; font-family: 'Arial',sans-serif; color: black; mso-color-alt: windowtext;\">Sementara itu, Penyusun Peraturan Perundang-Undangan Ahli Pertama dari Biro HOKH Perpusnas, Ardiansyah Al Ghani, menyampaikan Suatu pemerintahan daerah baik provinsi maupun kabupaten/kota idealnya mencakup seluruh urusan yang diatur dalam lampiran huruf W Undang-Undang No 23 Tahun 2014. Jika ada substansi yang terlewat, bisa dilakukan revisi atau penyusunan peraturan yang terpisah dari peraturan intinya,&rdquo; pungkas Ardi.</span></p>\n<p style=\"text-align: justify; background: white; margin: 0cm 0cm 7.5pt 0cm;\"><span lang=\"EN-US\" style=\"font-size: 11.5pt; font-family: 'Arial',sans-serif; color: #3e4d5c;\">&nbsp;</span></p>\n<p style=\"text-align: justify; background: white; margin: 0cm 0cm 7.5pt 0cm;\"><span lang=\"EN-US\" style=\"font-size: 11.5pt; font-family: 'Arial',sans-serif; color: #3e4d5c;\">Reporter dan fotografer: Biro HOKH, Perpusnas</span></p>"
                        keywords: ''
                        tanggal: '2021-03-26 13:48:10'
                        view: 1611
                        file: 'https://api-jdih.perpusnas.go.id/berita/file/58'
                      -
                        id_berita: 57
                        judul: 'Perpusnas Lakukan Penyuluhan Hukum dan Sosialisasi Jaringan Dokumentasi dan Informasi Hukum (JDIH) - Sulawesi Tenggara 5 Maret 2021'
                        deskripsi: "<p style=\"text-align: justify; background: white; margin: 0cm 0cm 7.5pt 0cm;\"><strong><span style=\"font-size: 11.5pt; font-family: 'Arial','sans-serif'; color: #3e4d5c;\">Kendari, Sulawesi Tenggara &ndash;</span></strong><span style=\"font-size: 11.5pt; font-family: 'Arial','sans-serif'; color: #3e4d5c;\">&nbsp;Perpustakaan Nasional (Perpusnas) bekerja sama dengan Dinas Perpustakaan Dan Kearsipan Prov. Sultra melakukan penyuluhan hukum dan sosialisasi Jaringan Dokumentasi dan Informasi Hukum (JDIH). Kegiatan yang berlangsung di Hotel Claro, Jl. Edi Sabara Lahundape, Kota Kendari, Sulawesi Tenggara, Jum&rsquo;at (5/3/2021) tersebut dibuka oleh Kepala Dinas Perpustakaan Dan Kearsipan Prov. Sultra, </span><span lang=\"EN-ID\" style=\"font-size: 11.5pt; font-family: 'Arial','sans-serif'; color: #3e4d5c; mso-ansi-language: EN-ID;\">Nur Saleh</span><span style=\"font-size: 11.5pt; font-family: 'Arial','sans-serif'; color: #3e4d5c;\">, dan diikuti sebanyak 60 peserta berasal dari berbagai instansi dan pemangku kepentingan di bidang karya cetak dan karya rekam.</span></p>\n<p style=\"text-align: justify; background: white; margin: 0cm 0cm 7.5pt 0cm;\"><span style=\"font-size: 11.5pt; font-family: 'Arial','sans-serif'; color: #3e4d5c;\">Penyuluhan hukum ini diselenggarakan oleh Biro Hukum, Organisasi, Kerja Sama, dan Hubungan Masyarakat (HOKH) bekerja sama dengan Direktorat Deposit dan Pengembangan Koleksi Perpustakaan. Materi pembahasan yang dibawakan meliputi Undang-Undang Nomor 13 Tahun 2018 tentang Serah Simpan Karya Cetak dan Karya Rekam (UU SSKCKR), sosialisasi&nbsp;<em><span style=\"font-family: 'Arial','sans-serif';\">e-Deposit</span></em>, penyuluhan hukum materi muatan Peraturan Daerah, dan sosialisasi JDIH Perpusnas.</span></p>\n<p style=\"text-align: justify; background: white; margin: 0cm 0cm 7.5pt 0cm;\"><span style=\"font-size: 11.5pt; font-family: 'Arial','sans-serif';\">Deputi&nbsp;Bidang Pengembangan dan Jasa Informasi Perpusnas diwakili oleh </span><span lang=\"EN-ID\" style=\"font-size: 11.5pt; font-family: 'Arial','sans-serif'; mso-ansi-language: EN-ID;\">Direktur Deposit dan Pengembangan Koleksi Perpustakaan</span><span style=\"font-size: 11.5pt; font-family: 'Arial','sans-serif';\">, </span><span lang=\"EN-ID\" style=\"font-size: 11.5pt; font-family: 'Arial','sans-serif'; mso-ansi-language: EN-ID;\">Emyati Tangke Lembang</span><span style=\"font-size: 11.5pt; font-family: 'Arial','sans-serif';\">, menjelaskan </span><span lang=\"EN-ID\" style=\"font-size: 11.5pt; font-family: 'Arial','sans-serif'; mso-ansi-language: EN-ID;\">kami Perpusnas juga melakukan akuisisi (pembelian) memang tidak diatur dalam UU SSKCKR, kebijakan yang dilakukan adalah 1 judul 4 eksemplar, buku yang diakusisi adalah buku langka, lokal konten, naskah kuno, contohnya di Kendari lokal konten yang diterbitkan penerbit setempat seperti ekonomi, budaya, pariwisata dan lingkungan hidup. Kita akan membangun buku tersebut dengan kesesuaian pada destinasi yang kita pilih untuk pemberian bantuan buku, penerbit di daerah jangan berkecil hati sepanjang penerbt dapat berkoordinasi dengan baik dan karyanya juga bagus maka kita pasti akan membeli. Setiap tahun Perpusnas melakukan hunting naskah kuno dan akan kami beli</span><span style=\"font-size: 11.5pt; font-family: 'Arial','sans-serif';\">,&rdquo; jelas Emyati.</span></p>\n<p style=\"text-align: justify; background: white; margin: 0cm 0cm 7.5pt 0cm;\"><span style=\"font-size: 11.5pt; font-family: 'Arial','sans-serif';\">Sementara itu, Subkoordinator Penyusunan Peraturan Perundang-Undangan dari Biro HOKH Perpusnas, Ananto Pratiesno, menyampaikan terdapat 2 jenis sumber data hukum yaitu konvensional dan TIK, untuk mencari dokumen hukum bidang peprustakaan dapat diakses pada web jdih.perpusnas.go.id. Kemudian mengenai meteri muatan materi muatan Peraturan Daerah (Perda) dan memberikan beberapa masukan terhadap Perda Provinsi Sulawesi Tenggara Nomor 11 Tahun 2016 tentang Pengelolaan Perpustakaan. Ada beberapa hal yang perlu ditambahkan dalam Perda tersebut, antara lain perlunya penyesuaian kembali mekanisme penyerahan karya cetak dan karya rekam berdasarkan UU SSKCKR, penambahan pengaturan mengenai pembinaan dan sanksi pelaksanaan SSKCKR, dan perluasan peran serta masyarakat. &ldquo;Tujuan utama dari pengelolaan situs web jdih.perpusnas.go.id. adalah agar dapat memberikan manfaat bagi seluruh pihak dan kalangan dalam memperoleh informasi serta dokumen hukum bidang perpustakaan,&rdquo; pungkas Ananto.</span></p>\n<p style=\"text-align: justify; background: white; margin: 0cm 0cm 7.5pt 0cm;\"><span style=\"font-size: 11.5pt; font-family: 'Arial','sans-serif'; color: #3e4d5c;\">Dalam kegiatan tersebut, juga diperkenalkan&nbsp;<em><span style=\"font-family: 'Arial','sans-serif';\">e-Deposit</span></em>&nbsp;yang merupakan aplikasi penghimpunan, pengolahan, dan pendayagunaan daya karya cetak dan karya rekam.</span></p>\n<p style=\"text-align: justify; background: white; margin: 0cm 0cm 7.5pt 0cm;\"><span style=\"font-size: 11.5pt; font-family: 'Arial','sans-serif'; color: #3e4d5c;\">&nbsp;</span></p>\n<p style=\"text-align: justify; background: white; margin: 0cm 0cm 7.5pt 0cm;\"><span style=\"font-size: 11.5pt; font-family: 'Arial','sans-serif'; color: #3e4d5c;\">Reporter dan fotografer: Biro HOKH, Perpusnas</span></p>\n<p class=\"MsoNormal\">&nbsp;</p>"
                        keywords: ''
                        tanggal: '2021-03-08 08:13:20'
                        view: 1366
                        file: 'https://api-jdih.perpusnas.go.id/berita/file/57'
                    items:
                      type: object
      tags:
        - Berita
  '/berita/{id}/detail':
    get:
      summary: ''
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer 123ABC-demoonly'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  id_berita: 77
                  judul: 'Penyuluhan Hukum dan Sosialisasi JDIH Perpusnas Kabupaten Kulon Progo Provinsi Daerah Istimewa Yogyakarta- 9 Mei 2023'
                  deskripsi: '<p>Tim Pelaksana Sosialisasi dari Perpustakaan Nasional RI telah melaksanakan penyuluhan hukum dan sosialisasi JDIH Perpusnas pada Kabupaten Kulon Progo Provinsi Daerah Istimewa Yogyakarta pada tanggal&nbsp;9 Mei 2023</p>'
                  keywords: ''
                  tanggal: '2023-05-09 14:48:00'
                  view: 772
                  file: 'https://api-jdih.perpusnas.go.id/berita/file/77'
                properties:
                  id_berita:
                    type: integer
                    example: 77
                  judul:
                    type: string
                    example: 'Penyuluhan Hukum dan Sosialisasi JDIH Perpusnas Kabupaten Kulon Progo Provinsi Daerah Istimewa Yogyakarta- 9 Mei 2023'
                  deskripsi:
                    type: string
                    example: '<p>Tim Pelaksana Sosialisasi dari Perpustakaan Nasional RI telah melaksanakan penyuluhan hukum dan sosialisasi JDIH Perpusnas pada Kabupaten Kulon Progo Provinsi Daerah Istimewa Yogyakarta pada tanggal&nbsp;9 Mei 2023</p>'
                  keywords:
                    type: string
                    example: ''
                  tanggal:
                    type: string
                    example: '2023-05-09 14:48:00'
                  view:
                    type: integer
                    example: 772
                  file:
                    type: string
                    example: 'https://api-jdih.perpusnas.go.id/berita/file/77'
      tags:
        - Berita
    parameters:
      -
        in: path
        name: id
        description: 'ID dari berita yang akan dilihat detailnya.'
        example: 77
        required: true
        schema:
          type: integer
  /list-galeri:
    get:
      summary: ''
      description: ''
      parameters:
        -
          in: query
          name: page
          description: 'Jika dikosongkan, maka default akan menampilkan halaman 1.'
          example: 1
          required: false
          schema:
            type: integer
            description: 'Jika dikosongkan, maka default akan menampilkan halaman 1.'
            example: 1
        -
          in: query
          name: limit
          description: 'Jumlah data yang akan ditampilkan dalam 1 halaman.'
          example: 3
          required: false
          schema:
            type: integer
            description: 'Jumlah data yang akan ditampilkan dalam 1 halaman.'
            example: 3
        -
          in: query
          name: q
          description: 'Pencarian berdasarkan query yang diinput oleh user.'
          example: rapat
          required: false
          schema:
            type: string
            description: 'Pencarian berdasarkan query yang diinput oleh user.'
            example: rapat
        -
          in: query
          name: sort
          description: 'Melakukan sort/pengurutan data ascending (asc) atau descending (desc) berdasarkan field yang diinginkan. Field yang dapat dipakai "judul", "tanggal".'
          example: 'tanggal,desc'
          required: false
          schema:
            type: string
            description: 'Melakukan sort/pengurutan data ascending (asc) atau descending (desc) berdasarkan field yang diinginkan. Field yang dapat dipakai "judul", "tanggal".'
            example: 'tanggal,desc'
        -
          in: query
          name: type
          description: 'Bisa diisi dengan "gambar" atau "video"'
          example: gambar
          required: false
          schema:
            type: string
            description: 'Bisa diisi dengan "gambar" atau "video"'
            example: gambar
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer 123ABC-demoonly'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  total: 35
                  page: 1
                  limit: 3
                  data:
                    -
                      id_artikel: 212
                      judul: 'Rapat Pembahasan Penyusunan Daftar Inventarisir Masalah Undang-Undang Nomor 43 Tahun 2007 tentang Perpustakaan - 30 Agustus 2023'
                      tanggal: '2023-09-12 10:15:18'
                      tag: ''
                      type: gambar
                      file_location: 'https://api-jdih.perpusnas.go.id/galeri/file/212'
                      gambar:
                        -
                          id_konten: 212
                          id_gambar: 436
                          imagethumb: 'https://api-jdih.perpusnas.go.id/thumb/file/436'
                          image: 'https://api-jdih.perpusnas.go.id/gambar/file/436'
                        -
                          id_konten: 212
                          id_gambar: 437
                          imagethumb: 'https://api-jdih.perpusnas.go.id/thumb/file/437'
                          image: 'https://api-jdih.perpusnas.go.id/gambar/file/437'
                        -
                          id_konten: 212
                          id_gambar: 438
                          imagethumb: 'https://api-jdih.perpusnas.go.id/thumb/file/438'
                          image: 'https://api-jdih.perpusnas.go.id/gambar/file/438'
                        -
                          id_konten: 212
                          id_gambar: 439
                          imagethumb: 'https://api-jdih.perpusnas.go.id/thumb/file/439'
                          image: 'https://api-jdih.perpusnas.go.id/gambar/file/439'
                        -
                          id_konten: 212
                          id_gambar: 440
                          imagethumb: 'https://api-jdih.perpusnas.go.id/thumb/file/440'
                          image: 'https://api-jdih.perpusnas.go.id/gambar/file/440'
                    -
                      id_artikel: 211
                      judul: 'Rapat Pembahasan Penyusunan Rancangan Peraturan Presiden tentang Registrasi dan Pelestarian Warisan Dokumenter sebagai Ingatan Dokumenter Nasional - 8 September 2023'
                      tanggal: '2023-09-08 15:04:37'
                      tag: ''
                      type: gambar
                      file_location: 'https://api-jdih.perpusnas.go.id/galeri/file/211'
                      gambar:
                        -
                          id_konten: 211
                          id_gambar: 433
                          imagethumb: 'https://api-jdih.perpusnas.go.id/thumb/file/433'
                          image: 'https://api-jdih.perpusnas.go.id/gambar/file/433'
                        -
                          id_konten: 211
                          id_gambar: 434
                          imagethumb: 'https://api-jdih.perpusnas.go.id/thumb/file/434'
                          image: 'https://api-jdih.perpusnas.go.id/gambar/file/434'
                        -
                          id_konten: 211
                          id_gambar: 435
                          imagethumb: 'https://api-jdih.perpusnas.go.id/thumb/file/435'
                          image: 'https://api-jdih.perpusnas.go.id/gambar/file/435'
                    -
                      id_artikel: 208
                      judul: 'Rapat Pembahasan Penyusunan Daftar Inventarisir Masalah Undang-Undang Nomor 43 Tahun 2007 tentang Perpustakaan - 15 Agustus 2023'
                      tanggal: '2023-08-16 09:29:34'
                      tag: ''
                      type: gambar
                      file_location: 'https://api-jdih.perpusnas.go.id/galeri/file/208'
                      gambar:
                        -
                          id_konten: 208
                          id_gambar: 421
                          imagethumb: 'https://api-jdih.perpusnas.go.id/thumb/file/421'
                          image: 'https://api-jdih.perpusnas.go.id/gambar/file/421'
                        -
                          id_konten: 208
                          id_gambar: 422
                          imagethumb: 'https://api-jdih.perpusnas.go.id/thumb/file/422'
                          image: 'https://api-jdih.perpusnas.go.id/gambar/file/422'
                        -
                          id_konten: 208
                          id_gambar: 423
                          imagethumb: 'https://api-jdih.perpusnas.go.id/thumb/file/423'
                          image: 'https://api-jdih.perpusnas.go.id/gambar/file/423'
                properties:
                  total:
                    type: integer
                    example: 35
                  page:
                    type: integer
                    example: 1
                  limit:
                    type: integer
                    example: 3
                  data:
                    type: array
                    example:
                      -
                        id_artikel: 212
                        judul: 'Rapat Pembahasan Penyusunan Daftar Inventarisir Masalah Undang-Undang Nomor 43 Tahun 2007 tentang Perpustakaan - 30 Agustus 2023'
                        tanggal: '2023-09-12 10:15:18'
                        tag: ''
                        type: gambar
                        file_location: 'https://api-jdih.perpusnas.go.id/galeri/file/212'
                        gambar:
                          -
                            id_konten: 212
                            id_gambar: 436
                            imagethumb: 'https://api-jdih.perpusnas.go.id/thumb/file/436'
                            image: 'https://api-jdih.perpusnas.go.id/gambar/file/436'
                          -
                            id_konten: 212
                            id_gambar: 437
                            imagethumb: 'https://api-jdih.perpusnas.go.id/thumb/file/437'
                            image: 'https://api-jdih.perpusnas.go.id/gambar/file/437'
                          -
                            id_konten: 212
                            id_gambar: 438
                            imagethumb: 'https://api-jdih.perpusnas.go.id/thumb/file/438'
                            image: 'https://api-jdih.perpusnas.go.id/gambar/file/438'
                          -
                            id_konten: 212
                            id_gambar: 439
                            imagethumb: 'https://api-jdih.perpusnas.go.id/thumb/file/439'
                            image: 'https://api-jdih.perpusnas.go.id/gambar/file/439'
                          -
                            id_konten: 212
                            id_gambar: 440
                            imagethumb: 'https://api-jdih.perpusnas.go.id/thumb/file/440'
                            image: 'https://api-jdih.perpusnas.go.id/gambar/file/440'
                      -
                        id_artikel: 211
                        judul: 'Rapat Pembahasan Penyusunan Rancangan Peraturan Presiden tentang Registrasi dan Pelestarian Warisan Dokumenter sebagai Ingatan Dokumenter Nasional - 8 September 2023'
                        tanggal: '2023-09-08 15:04:37'
                        tag: ''
                        type: gambar
                        file_location: 'https://api-jdih.perpusnas.go.id/galeri/file/211'
                        gambar:
                          -
                            id_konten: 211
                            id_gambar: 433
                            imagethumb: 'https://api-jdih.perpusnas.go.id/thumb/file/433'
                            image: 'https://api-jdih.perpusnas.go.id/gambar/file/433'
                          -
                            id_konten: 211
                            id_gambar: 434
                            imagethumb: 'https://api-jdih.perpusnas.go.id/thumb/file/434'
                            image: 'https://api-jdih.perpusnas.go.id/gambar/file/434'
                          -
                            id_konten: 211
                            id_gambar: 435
                            imagethumb: 'https://api-jdih.perpusnas.go.id/thumb/file/435'
                            image: 'https://api-jdih.perpusnas.go.id/gambar/file/435'
                      -
                        id_artikel: 208
                        judul: 'Rapat Pembahasan Penyusunan Daftar Inventarisir Masalah Undang-Undang Nomor 43 Tahun 2007 tentang Perpustakaan - 15 Agustus 2023'
                        tanggal: '2023-08-16 09:29:34'
                        tag: ''
                        type: gambar
                        file_location: 'https://api-jdih.perpusnas.go.id/galeri/file/208'
                        gambar:
                          -
                            id_konten: 208
                            id_gambar: 421
                            imagethumb: 'https://api-jdih.perpusnas.go.id/thumb/file/421'
                            image: 'https://api-jdih.perpusnas.go.id/gambar/file/421'
                          -
                            id_konten: 208
                            id_gambar: 422
                            imagethumb: 'https://api-jdih.perpusnas.go.id/thumb/file/422'
                            image: 'https://api-jdih.perpusnas.go.id/gambar/file/422'
                          -
                            id_konten: 208
                            id_gambar: 423
                            imagethumb: 'https://api-jdih.perpusnas.go.id/thumb/file/423'
                            image: 'https://api-jdih.perpusnas.go.id/gambar/file/423'
                    items:
                      type: object
      tags:
        - Galeri
  '/galeri/{id}/detail':
    get:
      summary: ''
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer 123ABC-demoonly'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  id_artikel: 126
                  id_kategori: 701
                  id_admin: 8
                  judul: 'Rapat Harmonisasi Rancangan Peraturan Perpustakaan Nasional tentang Sistem Pendataan Satu Pintu Hasil Serah Simpan Karya Cetak dan Karya Rekam - 1 Juli 2021'
                  subjudul: null
                  deskripsi: null
                  isiartikel: null
                  tanggal: '2021-07-01 11:53:25'
                  fotografer: null
                  reporter: null
                  editor: null
                  pageview: null
                  tag: ''
                  status: 1
                  file_statik: thumb_b6eae54b5931f291449f1ba0b6ffe1fe.jpg
                  headline: null
                  type: gambar
                  file_location: 'https://api-jdih.perpusnas.go.id/galeri/file/126'
                  gambar:
                    -
                      id_konten: 126
                      id_gambar: 88
                      image: 'https://api-jdih.perpusnas.go.id/gambar/file/88'
                      imagethumb: 'https://api-jdih.perpusnas.go.id/thumb/file/88'
                    -
                      id_konten: 126
                      id_gambar: 89
                      image: 'https://api-jdih.perpusnas.go.id/gambar/file/89'
                      imagethumb: 'https://api-jdih.perpusnas.go.id/thumb/file/89'
                    -
                      id_konten: 126
                      id_gambar: 90
                      image: 'https://api-jdih.perpusnas.go.id/gambar/file/90'
                      imagethumb: 'https://api-jdih.perpusnas.go.id/thumb/file/90'
                properties:
                  id_artikel:
                    type: integer
                    example: 126
                  id_kategori:
                    type: integer
                    example: 701
                  id_admin:
                    type: integer
                    example: 8
                  judul:
                    type: string
                    example: 'Rapat Harmonisasi Rancangan Peraturan Perpustakaan Nasional tentang Sistem Pendataan Satu Pintu Hasil Serah Simpan Karya Cetak dan Karya Rekam - 1 Juli 2021'
                  subjudul:
                    type: string
                    example: null
                  deskripsi:
                    type: string
                    example: null
                  isiartikel:
                    type: string
                    example: null
                  tanggal:
                    type: string
                    example: '2021-07-01 11:53:25'
                  fotografer:
                    type: string
                    example: null
                  reporter:
                    type: string
                    example: null
                  editor:
                    type: string
                    example: null
                  pageview:
                    type: string
                    example: null
                  tag:
                    type: string
                    example: ''
                  status:
                    type: integer
                    example: 1
                  file_statik:
                    type: string
                    example: thumb_b6eae54b5931f291449f1ba0b6ffe1fe.jpg
                  headline:
                    type: string
                    example: null
                  type:
                    type: string
                    example: gambar
                  file_location:
                    type: string
                    example: 'https://api-jdih.perpusnas.go.id/galeri/file/126'
                  gambar:
                    type: array
                    example:
                      -
                        id_konten: 126
                        id_gambar: 88
                        image: 'https://api-jdih.perpusnas.go.id/gambar/file/88'
                        imagethumb: 'https://api-jdih.perpusnas.go.id/thumb/file/88'
                      -
                        id_konten: 126
                        id_gambar: 89
                        image: 'https://api-jdih.perpusnas.go.id/gambar/file/89'
                        imagethumb: 'https://api-jdih.perpusnas.go.id/thumb/file/89'
                      -
                        id_konten: 126
                        id_gambar: 90
                        image: 'https://api-jdih.perpusnas.go.id/gambar/file/90'
                        imagethumb: 'https://api-jdih.perpusnas.go.id/thumb/file/90'
                    items:
                      type: object
      tags:
        - Galeri
    parameters:
      -
        in: path
        name: id
        description: 'Optional parameter. varchar required ID dari galeri yang akan dilihat detailnya.'
        required: true
        schema:
          type: string
        examples:
          omitted:
            summary: 'When the value is omitted'
            value: ''
          present:
            summary: 'When the value is present'
            value: '126'
  '/gambar/file/{id}':
    get:
      summary: ''
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            text/plain:
              schema:
                type: string
                example: 'ID gambar tidak ditemukan'
      tags:
        - Galeri
    parameters:
      -
        in: path
        name: id
        description: ''
        example: rerum
        required: true
        schema:
          type: string
  '/thumb/file/{id}':
    get:
      summary: ''
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            text/plain:
              schema:
                type: string
                example: 'ID Thumb tidak ditemukan'
      tags:
        - Galeri
    parameters:
      -
        in: path
        name: id
        description: ''
        example: eveniet
        required: true
        schema:
          type: string
  /list-monograf:
    get:
      summary: ''
      description: ''
      parameters:
        -
          in: query
          name: page
          description: 'Jika dikosongkan, maka default akan menampilkan halaman 1.'
          example: 1
          required: false
          schema:
            type: integer
            description: 'Jika dikosongkan, maka default akan menampilkan halaman 1.'
            example: 1
        -
          in: query
          name: limit
          description: 'Jumlah data yang akan ditampilkan dalam 1 halaman.'
          example: 5
          required: false
          schema:
            type: integer
            description: 'Jumlah data yang akan ditampilkan dalam 1 halaman.'
            example: 5
        -
          in: query
          name: q
          description: 'Pencarian berdasarkan query yang diinput oleh user.'
          example: 'karya cetak'
          required: false
          schema:
            type: string
            description: 'Pencarian berdasarkan query yang diinput oleh user.'
            example: 'karya cetak'
        -
          in: query
          name: sort
          description: 'Melakukan sort/pengurutan data ascending (asc) atau descending (desc) berdasarkan field yang diinginkan. Field yang dapat dipakai "date"'
          example: 'date,desc'
          required: false
          schema:
            type: string
            description: 'Melakukan sort/pengurutan data ascending (asc) atau descending (desc) berdasarkan field yang diinginkan. Field yang dapat dipakai "date"'
            example: 'date,desc'
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer 123ABC-demoonly'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            text/plain:
              schema:
                type: string
                example: "{\n\"total\": 1230,\n\"page\": 1,\n\"limit\": 10,\n\"data\": [\n    {\n        \"record_id\": 82564,\n        \"jml_view\": 0,\n        \"date\": \"2017-09-25 12:09:00\",\n        \"system_name\": \"ipusnas\",\n        \"jml_download\": 0,\n        \"details\": {\n            \"authors\": \"Alumni Fakultas Hukum Universitas Indonesia (FHUI) 1992\",\n            \"categories_id\": 281,\n            \"category\": \"Hukum\",\n            \"cover\": \"https://static.ijakarta.id/publication/book/cover/6ae11180b4f5e612f20517b8760a460d.png\",\n            \"description\": \"<p>Kuliah hukum? Mau jadi hakim ya? Atau pengacara atau jaksa? Notaris itu kerjanya apa sih? Menyiapkan kontrak? Apa bedanya dengan profesi pengacara? Untuk para mahasiswa fakultas hukum atau sarjana hukum yang baru mau berkarir di bidang hukum pasti sudah amat familiar dengan tuduhan mau menjadi hakim atau pengacara, atau kebingungan banyak orang untuk membedakan profesi notaris atau pengacara.<br />\\r\\n<br />\\r\\nLewat PROFESI HUKUM ITU ASYIK! Sarjana Hukum Bukan Sekadar Pengacara &amp; Hakim, kami para alumni Fakultas Hukum Universitas Indonesia (FHUI) angkatan 1992 akan mencoba mengenalkan beragam profesi hukum yang kelak dapat dijalani oleh adik-adik pelajar yang masih duduk di bangku Sekolah Menengah ataupun para mahasiswa fakultas hukum yang masih &lsquo;galau&rsquo; dalam menentukan karir di masa depan.<br />\\r\\n<br />\\r\\nTernyata seorang Sarjana Hukum (S.H.) dapat berkarier di berbagai bidang. Dalam buku ini kami coba pilihkan 25 profesi hukum yang dapat dijadikan acuan untuk berkarier, misalnya di bidang perbankan, migas, dan KPK, menjadi diplomat, wartawan, relawan, head hunter, serta masih banyak lainnya. Buku ini mencoba memperluas wawasan dan memberikan perspektif baru tentang profesi dalam bidang hukum yang dapat ditekuni.</p>\\r\\n\",\n             \"eisbn\": \"978-602-06-1716-9\",\n            \"eissn\": \"xxx-xxx-xx-xxxx-x\",\n            \"extension\": \"pdf\",\n            \"hash_id\": \"7453942e62180565ae59985d7cab2fdb\",\n            \"id\": 82564,\n            \"isbn\": \"978-602-03-7191-7\",\n            \"num_pages\": 0,\n            \"price\": 75000,\n            \"published_date\": \"25-09-2017 00:00:00\",\n            \"publisher\": \"PT. Gramedia Pustaka Utama\",\n            \"publisher_raw\": \"pt. gramedia pustaka utama\",\n            \"publishers_about\": \"None\",\n            \"publishers_city\": \"kota jakarta barat; dki jakarta\",\n            \"publishers_fax\": \"None\",\n            \"publishers_id\": 10,\n           \"publishers_logo\": \"https://static.ijakarta.id/img/libraries/logo/99ded1d9b86580756d1fac40f53ef2b2.jpeg\",\n            \"publishers_status\": 1,\n            \"qty\": 20,\n            \"size\": \"3.8 MB\",\n            \"status\": 1,\n            \"title\": \"Profesi Hukum Itu Asyik! Sarjana Hukum: Bukan Sekadar Pengacara & Hakim\"\n        },\n        {  \n          .... \n        }\n    },"
      tags:
        - 'Monograf Hukum'
  '/monograf/{id_monograf}/detail':
    get:
      summary: ''
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer 123ABC-demoonly'
          schema:
            type: string
        -
[...]
